<div class="row">
  <div class="col-xs-12 col-md-12 model-well">
    <div align="center">
      <div  class="prevnext prevnext_model" >
        <span class="prev"><%= link_to("<< " +  @model.previous.name, @model.previous) if @model.previous %></span>
        <span class="center-span"><%= link_to "Back to models", models_path %></span>
        <span class="next"><%= link_to(@model.next.name + " >>", @model.next) if @model.next %></span>
      </div>
      <div class="col-xs-12 col-md-4">
        <h2 class="model"><%= @model.name %></h2>
        <h4><%= @model.description %></h4>
        <div align="center" class="tiles">
          <div>
            <%= image_tag "#{@model.figure_image}" %>
          </div>
          <br /><br />
          <h4>
            <%= @model.count %> <%= pluralize_no_count(@model.count, 'model') %>
          </h4>
          from  <%= @model.origin %>
          <br /><br />
        </div>
      </div>
      <div class="col-md-8">
        <% if @model.heroes.any? %>
          <br />
          <h5>Hero Sheet for <%= @model.name %></h5>
          <% @model.heroes.each do |hero| %>
            <% if hero.hero_sheet != '' %>
              <%= link_to image_tag(hero.hero_sheet), hero_path(hero) %>
              <br /><br /><br />
            <% end %>
          <% end %>
        <% end %>

        <% if @model.tiles.any? %>
        <br />
          <% if @model.tiles.length > 1 %>
            <h5>Character Tiles for <%= @model.name %></h5>
            <% else %>
            <h5>Character Tile for <%= @model.name %></h5>
          <% end %>
          <div class="modeltile">
            <% @model.tiles.each do |tile| %>
              <%= link_to image_tag(tile.tile_image), tile_path(tile) %>
            <% end%>
          </div>
        <% end %>
      </div>
       <div class="col-md-2"></div>

    </div>
  </div>
</div>
<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_model_path(@model) %> |
    <%= link_to 'Delete', model_path(@model), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
