<h1>Character Tiles</h1>

<p>Click on a tile to see its stats and any scenarios it appears in.</p>
  <p>Tiles can be sorted by:</p>
      <ul>
        <li>the box (<strong>origin</strong>) the tile came in</li>
        <li>the <strong>type</strong> of unit the tile represents</li>
        <li>by unit type for <strong>Versus</strong> recruitment</li>
        <li>tile <strong>name</strong> listed with their stats</li>
      </ul>
<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-tile active">By Origin</button></a>
  <a href="" id="show_bytype" class="toggles"><button class="btn btn-tile">By Type</button></a>
  <a href="" id="show_forversus" class="toggles"><button class="btn btn-tile">Versus</button></a>

  <a href="" id="show_bystat" class="toggles"><button class="btn btn-tile">Name / Stats</button></a>
</div>
<hr>
<div id="by_origin">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="card">
        <div class="card-header" id="headingCore">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCore">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Core Game</button>
        </div>
        <div class="card-body">
          <div id="collapseCore" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @core.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingKhitai">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKhitai">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai</button>
        </div>
        <div class="card-body ">
          <div id="collapseKhitai" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @khitai.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingNordheim">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNordheim">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Nordheim</button>
        </div>
        <div class="card-body ">
          <div id="collapseNordheim" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @nordheim.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingStygia">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStygia">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stygia</button>
        </div>
        <div class="card-body ">
          <div id="collapseStygia" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @stygia.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingConqueror">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseConqueror">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Conan the Conqueror</button>
        </div>
        <div class="card-body">
          <div id="collapseConqueror" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @conqueror.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingRedNails">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRedNails">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Red Nails</button>
        </div>
        <div class="card-body">
          <div id="collapseRedNails" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @nails.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingWorms">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWorms">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Worms of the Earth</button>
        </div>
        <div class="card-body">
          <div id="collapseWorms" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @worms.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6 col-sm-6">

      <div class="card">
        <div class="card-header" id="headingKing">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKing">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;King Pledge</button>
        </div>
        <div class="card-body ">
          <div id="collapseKing" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @king.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingStretch">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStretch">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stretch Goal</button>
        </div>
        <div class="card-body">
          <div id="collapseStretch" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @stretch.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingBaal">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBaal">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Baal-pteor</button>
        </div>
        <div class="card-body ">
          <div id="collapseBaal" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @baal.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingDragons">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDragons">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Black Dragons</button>
        </div>
        <div class="card-body ">
          <div id="collapseDragons" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @dragons.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingOnes">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOnes">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;The Black Ones</button>
        </div>
        <div class="card-body ">
          <div id="collapseOnes" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @blackones.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingCrossbowmen">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCrossbowmen">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Crossbowmen</button>
        </div>
        <div class="card-body ">
          <div id="collapseCrossbowmen" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @crossbowmen.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingDemon">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDemon">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Demon of the Earth</button>
        </div>
        <div class="card-body ">
          <div id="collapseDemon" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @demon.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingDragon">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDragon">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Dragon</button>
        </div>
        <div class="card-body ">
          <div id="collapseDragon" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @dragon.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingWolves">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWolves">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Giant Wolves</button>
        </div>
        <div class="card-body ">
          <div id="collapseWolves" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @wolves.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingWitch">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWitch">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Kushite Witch Hunters</button>
        </div>
        <div class="card-body ">
          <div id="collapseWitch" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @witchhunters.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingPaolo">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePaolo">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Paolo Parente Box</button>
        </div>
        <div class="card-body ">
          <div id="collapsePaolo" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @paolo.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSabertooth">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSabertooth">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Sabertooth Tiger</button>
        </div>
        <div class="card-body ">
          <div id="collapseSabertooth" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @sabertooth.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingValkyrie">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseValkyrie">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Vanir Valkyrie</button>
        </div>
        <div class="card-body ">
          <div id="collapseValkyrie" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @valkyrie.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingVersus">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseVersus">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Versus</button>
        </div>
        <div class="card-body">
          <div id="collapseVersus" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @versus.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFrazetta">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFrazetta">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Frazetta Guest Box</button>
        </div>
        <div class="card-body">
          <div id="collapseFrazetta" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w30">Type</th>
                  <th class="w15">Count</th>
                  <th class="w15">Scenarios</th>
                </tr>
              </thead>
              <% @frazetta.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.role %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="by_type">
  <div class="row">
    <div class="col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header" id="headingEvent">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEvent">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Event</button>
        </div>
        <div class="card-body ">
          <div id="collapseEvent" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w15">Count</th>
                  <th class="w10">Scenarios</th>
                </tr>
              </thead>
              <% @events.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.origin %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingLeader">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLeader">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Leader</button>
        </div>
        <div class="card-body ">
          <div id="collapseLeader" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w15">Count</th>
                  <th class="w10">Scenarios</th>
                </tr>
              </thead>
              <% @leaders.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.origin %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingMonster">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMonster">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Monster</button>
        </div>
        <div class="card-body ">
          <div id="collapseMonster" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w15">Count</th>
                  <th class="w10">Scenarios</th>
                </tr>
              </thead>
              <% @monsters.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.origin %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header" id="headingMinions">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMinions">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Minions</button>
        </div>
        <div class="card-body ">
          <div id="collapseMinions" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w15">Count</th>
                  <th class="w10">Scenarios</th>
                </tr>
              </thead>
              <% @minions.each do |tile| %>
              <tr>
                <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.origin %></td>
                <td><%= tile.count %></td>
                <td><%= tile.scenarios.count %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div id="for_versus">
  <div class="row">
    <div class="col-md-6 col-sm-8">

      <div class="card">
        <div class="card-header" id="headingLeader">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLeader">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Leader</button>
        </div>
        <div class="card-body ">
          <div id="collapseLeader" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w15">Count</th>
                </tr>
              </thead>
              <% @leaders.each do |tile| %>
                <% if eval(tile.armor) < 5 %>
                  <tr>
                    <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                    <td><%= tile.origin %></td>
                    <td><%= tile.count %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingLeader">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLeader">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Leader (Monster)</button>
        </div>
        <div class="card-body ">
          <div id="collapseLeader" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w15">Count</th>
                </tr>
              </thead>
              <% @monsters.each do |tile| %>
                <% if eval(tile.armor) < 5 %>
                  <tr>
                    <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                    <td><%= tile.origin %></td>
                    <td><%= tile.count %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header" id="headingChampions">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChampions">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Champions</button>
        </div>
        <div class="card-body ">
          <div id="collapseChampions" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w14">Cost</th>
                  <th class="w15">Count</th>
                </tr>
              </thead>
              <% @minions.each do |tile| %>
                <% if ( (eval(tile.armor) < 5) && (tile.cost == '2') ) || ( (eval(tile.armor) < 5) && (tile.cost == '3') ) %>
                  <tr>
                    <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                    <td><%= tile.origin %></td>
                    <td><%= tile.cost %></td>
                    <td><%= tile.count %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header" id="headingMinions">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMinions">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Minions</button>
        </div>
        <div class="card-body ">
          <div id="collapseMinions" class="collapse in">
            <table class="table stats tilestats">
              <thead>
                <tr>
                  <th class="w40">Tile</th>
                  <th class="w35">Origin</th>
                  <th class="w14">Cost</th>
                  <th class="w15">Count</th>
                </tr>
              </thead>
              <% @minions.each do |tile| %>
                <% if (eval(tile.armor) < 5) && (tile.cost == '1')%>
                  <tr>
                    <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                    <td><%= tile.origin %></td>
                    <td><%= tile.cost %></td>
                    <td><%= tile.count %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="by_stat">
  <div class="row">
      <div class="panel panel-danger">
        <div class="panel-heading">Name / Stats</div>
          <table class="table stats tilestats">
            <thead>
              <tr>
                <th>Character/<br />Tile Name</th>
                <th>Number<br />of Tiles</th>
                <th>Move<br /> Value</th>
                <th>Armor<br /> Value</th>
                <th>Melee<br /> Dice</th>
                <th>Ranged<br /> Dice</th>
                <th>Reinforce<br /> Cost</th>
                <th>Character<br />Skills</th>
              </tr>
            </thead>
            <% @tiles.sort_by {|tile| tile.name }.each do |tile| %>
              <tr>
                <td class="tile"><%= link_to tile.name, tile_path(tile) %></td>
                <td><%= tile.count %></td>
                <td><% if tile.move != nil %><%= tile.move %><% else %>-<% end %></td>
                <td><% if tile.armor != nil %><%= tile.armor %><% else %>-<% end %></td>
                <td class="stats"><% if tile.melee != '-' %>
                  <% tile.bones.each do |bone| %>
                    <%= image_tag "dice/#{bone.name}.png", :title => "#{bone.name}" %>
                    <% end%><% else %> --
                  <% end%></td>
                <td class="stats"><% if tile.ranged != '-' %>
                  <% tile.bones.each do |bone| %>
                    <%= image_tag "dice/#{bone.name}.png", :title => "#{bone.name}" %>
                    <% end%><% else %> --
                  <% end%>
                </td>
                <td><% if tile.cost != nil %><%= tile.cost %><% else %> - <% end %></td>
                <td class="stats"><% if tile.skills.any? %>
                  <% tile.skills.each do |skill| %>
                      <%= link_to image_tag("skills/#{skill.name}.png", :title => "#{skill.name}"), skill_path(skill) %>
                      <% end%><% else %> --
                  <% end%>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

 <script>
   $(document).ready(function() {
     $('a#show_byorigin').click(function(event){
       event.preventDefault();
       $('a.toggles').children().removeClass('active');
       $('a#show_byorigin').children().addClass('active');
       $('div#by_type').hide();
       $('div#for_versus').hide();
       $('div#by_stat').hide();
       $('div#by_origin').show();
     });

     $('a#show_bytype').click(function(event){
       event.preventDefault();
       $('a.toggles').children().removeClass('active');
       $('a#show_bytype').children().addClass('active');
       $('div#by_origin').hide();
       $('div#for_versus').hide();
       $('div#by_stat').hide();
       $('div#by_type').show();
     });

     $('a#show_forversus').click(function(event){
       event.preventDefault();
       $('a.toggles').children().removeClass('active');
       $('a#show_forversus').children().addClass('active');
       $('div#by_origin').hide();
       $('div#by_type').hide();
       $('div#by_stat').hide();
       $('div#for_versus').show();
     });

     $('a#show_bystat').click(function(event){
       event.preventDefault();
       $('a.toggles').children().removeClass('active');
       $('a#show_bystat').children().addClass('active');
       $('div#by_origin').hide();
       $('div#by_type').hide();
       $('div#for_versus').hide();       
       $('div#by_stat').show();
     });

   });

 </script>
