<h1 class="tile">Tiles</h1>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to "Add a Tile", new_tile_path %></p>
<% end %>

<p>Click on a tile to see its stats and any scenarios it appears in.</P>
  <p>Tiles can be sorted by:
      <ul>
        <li>the box <strong>(origin)</strong> the tile came in</li>
        <li>the <strong>type</strong> of unit the tile represents</li>
      </ul>
<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-tile active">By Origin</button></a>
  <a href="" id="show_bytype" class="toggles"><button class="btn btn-tile">By Type</button></a>
</div>
<hr>
<div id="by_origin">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Core Game Tiles</div>
        <table class="table">
          <% @core.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">King Pledge Tiles</div>
        <table class="table">
          <% @king.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Stygia Tiles</div>
        <table class="table">
          <% @stygia.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Strech Goal Tiles</div>
        <table class="table">
          <% @stretch.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
      </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Khitai Tiles</div>
        <table class="table">
          <% @khitai.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
       </table>
     </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Baal Pteor Tiles</div>
        <table class="table">
          <% @baal.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Black Dragons Tiles</div>
        <table class="table">
          <% @dragons.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">The Black Ones Tiles</div>
        <table class="table">
          <% @blackones.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Crossbowmen Tiles</div>
        <table class="table">
          <% @crossbowmen.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Demon of the Earth Tiles</div>
        <table class="table">
          <% @demon.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Dragon Tiles</div>
        <table class="table">
          <% @dragon.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Giant Wolves Tiles</div>
        <table class="table">
          <% @wolves.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Kushite Witch Hunters Tiles</div>
        <table class="table">
          <% @witchhunters.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Paolo Parente Box</div>
        <table class="table">
          <% @paolo.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Sabertooth Tiger Tiles</div>
        <table class="table">
          <% @sabertooth.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Vanir Valkyrie Tiles</div>
        <table class="table">
          <% @valkyrie.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Nordheim Tiles</div>
        <table class="table">
          <% @nordheim.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_type">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Leader Tiles</div>
        <table class="table">
          <% @leaders.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Hero Tiles</div>
        <table class="table">
          <% @heroes.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Monster Tiles</div>
        <table class="table">
          <% @monsters.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
      </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Ally Tiles</div>
        <table class="table">
          <% @allies.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
      </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Event Tiles</div>
        <table class="table">
          <% @events.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
      </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Minion Tiles</div>
        <table class="table">
          <% @minions.sort_by {|tile| tile.name }.each do |tile| %>
          <tr>
            <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
          </tr>
          <% end %>
      </table>
      </div>
    </div>
  </div>
</div>

 <script>
   $(document).ready(function() {
     $('a#show_byorigin').click(function(event){
       event.preventDefault();
       $('a.toggles').children().removeClass('active');
       $('a#show_byorigin').children().addClass('active');
       $('div#by_type').hide();
       $('div#by_origin').show();
     });

     $('a#show_bytype').click(function(event){
       event.preventDefault();
       $('a.toggles').children().removeClass('active');
       $('a#show_bytype').children().addClass('active');
       $('div#by_origin').hide();
       $('div#by_type').show();
     });

   });
 </script>
