<div class="row">
  <div class="col-md-4">
    <div class="well">
      <div align="center" class="tiles">
        <h4>
          <%= @tile.count %>  <%= @tile.role %>
          <%= pluralize_no_count(@tile.count, 'tile') %>
        </h4>
        <%= image_tag "tiles/#{@tile.origin}/#{@tile.name}.png" %><br /><br />
        from  <%= @tile.origin %>

      </div>
    </div>
    <div align="center">
      <%= link_to "Back to tiles", tiles_path %>
    </div>
  </div>
  <div class="col-md-8">
    <h1><%= @tile.name %></h1>
    <h4><%= @tile.description %></h4>

    <% if @tile.stories.any? %>
      <p>Appears in:
        <% @tile.stories.each do |story| %>
          <%= link_to story.name, story_path(story) %>
        <% end%>
      </p>
    <% end %>
    <br /><br />

    <table class="tile_stats">

      <% if @tile.skills.any? %>
      <tr>
        <% @tile.skills.each do |skill| %>
          <td class="thumbs">
            <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
            <br /><%= link_to skill.name, skill_path(skill) %>
          </td>
        <% end%>
      </tr>
      <% end %>

      <tr>
        <th>
          <%= image_tag "stats/movement.png" %>
          <br />Movement
        </th>
        <th>
          <%= @tile.move %>
        </th>
      </tr>
      <tr>
        <th>
          <%= image_tag "stats/armor.png" %>
          <br />Armor
        </th>
        <th>
          <%= @tile.armor %>
        </th>
      </tr>
      <% if @tile.melee_dice != '–' %>
      <tr>
        <th>
          <%= image_tag "stats/melee.png" %>
          <br />Melee
        </th>
        <td><%= @tile.melee_dice %></td>

        <% end %>
        <% if @tile.range_dice != '–' %>
        <th>
          <%= image_tag "stats/range.png" %>
          <br />Ranged
        </th>
        <td><%= @tile.range_dice %></td>

        <% end %>
      </tr>

      <tr>
        <% if @tile.cost %>
          <th><%= image_tag "stats/reinforcement.png" %>
            <br />Reinforcement<br />Cost
          </th>
        <% end %>
        <% if @tile.cost %>
          <td><%= @tile.cost %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <br /><br />
  <%= link_to 'Edit', edit_tile_path(@tile) %> |
  <%= link_to 'Delete', tile_path(@tile), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
