<div class="row">
  <div class="col-xs-12 col-md-5">
    <div class="well">
        <h2 class="tile"><%= @tile.name %></h2>
        <h4><%= @tile.description %></h4>
        <div align="center" class="tiles">
          <%= image_tag "#{@tile.figure_image}" %><br /><br />
          <h4>
            <%= @tile.count %>  <%= @tile.role %>
            <%= pluralize_no_count(@tile.count, 'tile') %>
          </h4>
          from  <%= @tile.origin %>
          <br /><br /><%= link_to "Back to tiles", tiles_path %>
        </div>
      </div>
    </div>
  <div class="col-xs-6 col-md-4">
    <table class="tile_stats">
      <% if @tile.move != '–' %>
        <tr>
          <h4>Stats:</h4>
          <th>
            <%= image_tag "stats/movement.png" %>
            <br />Movement
          </th>
          <th>
            <h3><%= @tile.move %></h3>
          </th>
        </tr>
      <% end %>
      <% if @tile.armor != '–' %>
        <tr>
          <th>
            <%= image_tag "stats/armor.png" %>
            <br />Armor
          </th>
          <th>
            <h3><%= @tile.armor %></h3>
          </th>
        </tr>
      <% end %>
      <% if @tile.melee_dice != '–' %>
        <tr>
          <th>
            <%= image_tag "stats/melee.png" %>
            <br />Melee
          </th>
          <td>
            <%= image_tag "dice/#{@tile.melee_dice}.png" %><br />
            <%= @tile.melee_dice %>
          </td>
        </tr>
      <% end %>
      <% if @tile.ranged_dice != '–' %>
        <tr>
          <th>
            <%= image_tag "stats/range.png" %>
            <br />Ranged
          </th>
          <td>
            <%= image_tag "dice/#{@tile.ranged_dice}.png" %><br />
            <%= @tile.ranged_dice %>
          </td>
        </tr>
      <% end %>
      <tr>
        <% if @tile.cost %>
          <th><%= image_tag "stats/reinforcement.png" %>
            <br />Reinforcement<br />Cost
          </th>
        <% end %>
        <% if @tile.cost %>
          <td><%= @tile.cost %></td>
        <% end %>
      </tr>
    </table>
    <table>
      <% if @tile.skills.any? %>
        <tr>
          <h4>Skills:</h4>
          <% @tile.skills.each do |skill| %>
            <td class="thumbs">
              <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
              <br /><%= link_to skill.name, skill_path(skill) %>
            </td>
          <% end%>
        </tr>
      <% end %>
    </table>
  </div>
    <div class="col-xs-6 col-md-3">
      <% if @tile_scenarios.any? %>
        <h4>Scenarios:</h4>
        <% @tile_scenarios.each do |scenario| %>
          <p><%= link_to scenario.name, scenario_path(scenario) %></p>
        <% end%>
      <% end %>
    </div>
    <div class="col-md-4">
      <br /><br />
      <% if @tile.stories.any? %>
        <h4>Stories:</h4>
        <% @tile.stories.each do |story| %>
          <p><%= link_to story.name, story_path(story) %></p>
        <% end%>
      <% end %>
    </div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_tile_path(@tile) %> |
    <%= link_to 'Delete', tile_path(@tile), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
