<h1><%= @tile.name %></h1>

<p>
  Description: <%= @tile.description %>
</p>
<% if @tile.skills.any? %>
  <p>Skills: <% @tile.skills.each do |skill| %>
    <%= skill.name %>
  <% end%>
  </p>
<% end %>

<%= link_to "Edit this tile", edit_tile_path(@tile) %><br />
<%= link_to 'Delete', tile_path(@tile), method: :delete, data: {confirm: "Are you sure?"} %><br />

<%= link_to "Back to tiles", tiles_path %>
