<div class="row">
  <div class="col-md-4">
    <div class="well">
      <div align="center" class="tiles">
        <h4>
          <%= @tile.count %>  <%= @tile.role %>
          <%= pluralize_no_count(@tile.count, 'tile') %>
        </h4>
        <%= image_tag "#{@tile.image}" %><br /><br />
        from  <%= @tile.origin %>

      </div>
    </div>
    <div align="center">
      <%= link_to "Back to tiles", tiles_path %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">

    <h1><%= @tile.name %></h1>
    <h4><%= @tile.description %></h4>

    <% if @tile.stories.any? %>
      <p>Appears in:
        <% @tile.stories.each do |story| %>
          <%= link_to story.name, story_path(story) %>
        <% end%>
      </p>
    <% end %>
    <br /><br />

    <table class="tile_stats">
      <% if @tile.skills.any? %>
        <tr>
          <th>
            <h4>Skills:</h4>
          </th>
          <% @tile.skills.each do |skill| %>
            <td class="thumbs">
              <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
              <br /><%= link_to skill.name, skill_path(skill) %>
            </td>
          <% end%>
        </tr>
      <% end %>
      <% if @tile.move != '–' %>
        <tr>
          <th>
            <h4>Stats:</h4>
            <%= image_tag "stats/movement.png" %>
            <br />Movement
          </th>
          <th>
            <%= @tile.move %>
          </th>
        </tr>
      <% end %>
      <% if @tile.armor != '–' %>
        <tr>
          <th>
            <%= image_tag "stats/armor.png" %>
            <br />Armor
          </th>
          <th>
            <%= @tile.armor %>
          </th>
        </tr>
      <% end %>
      <% if @tile.melee_dice != '–' %>
        <tr>
          <th>
            <%= image_tag "stats/melee.png" %>
            <br />Melee
          </th>
          <td>
            <%= image_tag "dice/#{@tile.melee_dice}.png" %><br />
            <%= @tile.melee_dice %>
          </td>
        </tr>
      <% end %>
      <% if @tile.ranged_dice != '–' %>
        <tr>
          <th>
            <%= image_tag "stats/range.png" %>
            <br />Ranged
          </th>
          <td>
            <%= image_tag "dice/#{@tile.ranged_dice}.png" %><br />
            <%= @tile.ranged_dice %>
          </td>
        </tr>
      <% end %>
      <tr>
        <% if @tile.cost %>
          <th><%= image_tag "stats/reinforcement.png" %>
            <br />Reinforcement<br />Cost
          </th>
        <% end %>
        <% if @tile.cost %>
          <td><%= @tile.cost %></td>
        <% end %>
      </tr>
    </table>
    <div class="col-md-8">
      <h4><%= @tile.name %> appears in: </h4>
      <% if @tile_scenarios.any? %>
        <% @tile_scenarios.each do |scenario| %>
          <p><%= link_to scenario.name, scenario_path(scenario) %></p>
        <% end%>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="row">
  <br /><br />
  <%= link_to 'Edit', edit_tile_path(@tile) %> |
  <%= link_to 'Delete', tile_path(@tile), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
