<div class="row">
  <div class="col-xs-12 col-md-12 tile-well">
    <div align="center">
      <div  class="prevnext prevnext_tile" >
        <span class="prev"><%= link_to("<< " +  @tile.previous.name, @tile.previous) if @tile.previous %></span>
        <span class="center-span"><%= link_to "Back to tiles", tiles_path %></span>
        <span class="next"><%= link_to(@tile.next.name + " >>", @tile.next) if @tile.next %></span>
      </div>

      <div class="col-md-3">
        <br />
        <% if @tile_scenarios.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">Scenarios that use this Tile</div>
            <table class="table">
              <% @tile_scenarios.each do |scenario| %>
                <tr>
                  <td class="tile" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-6">
        <h2 class="tile"><%= @tile.name %></h2>
        <div align="center" class="tiles">
          <div id="by_tile">
            <a href="" id="show_figure" >
              <%= image_tag "#{@tile.tile_image}" %>
            </a>
          </div>
          <div id="by_figure">
            <a href="" id="show_tile" >
              <%= image_tag "#{@tile.figure_image}" %>
            </a>
          </div>
          <h4>
            <%= @tile.count %>  <%= pluralize_no_count(@tile.count, 'tile') %>
          </h4>
          from  <%= @tile.origin %>
        </div>
      </div>

      <div class="col-md-3 thumbs">
        <br />
          <% if @tile.skills.any? %>
              <h4>Skills:</h4>
              <% @tile.skills.each do |skill| %>
                  <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
                  <br /><%= link_to skill.name, skill_path(skill) %>
                  <br /><br />
              <% end%>
          <% end %>
        <br />
        <br />
        <% if @tile.correction != '' %>
            <h4>Correction:</h4>
            <%= sanitize @tile.correction %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {

    $('a#show_tile').click(function(event){
      event.preventDefault();

      $('a#show_tile').children().addClass('active');
      $('div#by_figure').hide();
      $('div#by_tile').show();
    });

    $('a#show_figure').click(function(event){
      event.preventDefault();

      $('a#show_figure').children().addClass('active');
      $('div#by_tile').hide();
      $('div#by_figure').show();
    });

  });
</script>
