<h1 class="map">Maps</h1>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to "Add a Map", new_map_path %></p>
<% end %>

<p>The maps are organized by the box they came in: Core Game, Stretch Goal, or Expansion.</p>

<div class="row display-flex">

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-map">
      <div class="panel-heading">Core Game Maps</div>
      <table class="table">
        <% @core.each do |map| %>
        <tr>
          <td class="sm-maps">
            <%= image_tag "#{map.image}" %>
          </td>
          <td class="map"><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-map">
      <div class="panel-heading">Strech Goal Maps</div>
      <table class="table">
        <% @stretch.each do |map| %>
        <tr>
          <td class="sm-maps">
            <%= image_tag "#{map.image}" %>
          </td>
          <td class="map"><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-map">
      <div class="panel-heading">Nordheim Maps</div>
      <table class="table">
        <% @nordheim.each do |map| %>
        <tr>
          <td class="sm-maps">
            <%= image_tag "#{map.image}" %>
          </td>
          <td class="map"><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-map">
      <div class="panel-heading">Khitai Maps</div>
      <table class="table">
        <% @khitai.each do |map| %>
        <tr>
          <td class="sm-maps">
            <%= image_tag "#{map.image}" %>
          </td>
          <td class="map"><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 ">
    <div class="panel panel-map">
      <div class="panel-heading">Stygia Maps</div>
      <table class="table">
        <% @stygia.each do |map| %>
        <tr>
          <td class="sm-maps">
            <%= image_tag "#{map.image}" %>
          </td>
          <td class="map"><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-map">
      <div class="panel-heading">Modiphius Geomorphic Tiles</div>
      <table class="table">
        <% @modiphius.each do |map| %>
        <tr>
          <td class="sm-maps">
            <%= image_tag "#{map.image}" %>
          </td>
          <td class="map"><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
