<h1>Maps</h1>
<p>
  <%= link_to "Add a Map", new_map_path %>
</p>

  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Core Game Maps</div>
      <table class="table">
        <% @maps.each do |map| %>
        <% if map.origin === "Core"%>
        <tr>
          <td class="sm-maps"><%= image_tag "maps/#{map.name}.png" %></td>
          <td><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Strech Goal Maps</div>
      <table class="table">
        <% @maps.each do |map| %>
        <% if map.origin === "Stretch"%>
        <tr>
          <td class="sm-maps"><%= image_tag "maps/#{map.name}.png" %></td>
          <td><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Nordheim Maps</div>
      <table class="table">
        <% @maps.each do |map| %>
        <% if map.origin === "Nordheim"%>
        <tr>
          <td class="sm-maps"><%= image_tag "maps/#{map.name}.png" %></td>
          <td><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Stygia Maps</div>
      <table class="table">
        <% @maps.each do |map| %>
        <% if map.origin === "Stygia"%>
        <tr>
          <td class="sm-maps"><%= image_tag "maps/#{map.name}.png" %></td>
          <td><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Khitai Maps</div>
      <table class="table">
        <% @maps.each do |map| %>
        <% if map.origin === "Khitai"%>
        <tr>
          <td class="sm-maps"><%= image_tag "maps/#{map.name}.png" %></td>
          <td><%= link_to map.name, map_path(map) %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
