<h1><%= @map.name %></h1>

<p>
  Description: <%= @map.description %>
</p>
<p>
  On its flip side : <%= @map.flip_side %>
</p>

<p>
  Came with: <%= @map.origin %>
</p>

<%= link_to "Edit this map", edit_map_path(@map) %><br />
<%= link_to "Delete this map", map_path(@map), method: :delete, data: {confirm: "Are you sure?"} %><br />

<%= link_to "Back to maps", maps_path %>
