<div class="row">
  <div class="col-xs-12 col-md-12 map-well">
    <div  class="prevnext prevnext_map" align="center">
      <span class="prev"><%= link_to("<< Previous Map", @map.previous) if @map.previous %></span>
      <span aligh="center"><%= link_to "Back to maps", maps_path %></span>
      <span class="next"><%= link_to("Next Map >>", @map.next) if @map.next %></span>
    </div>
    <div class="col-md-7 maps" align="center">
      <h2 class="map"><%= @map.name %></h2>
      <%= image_tag "#{@map.image}" %><br /><br />
      <% if @map.flip_side != 'none' %>
        <h4>Shares a board with
          <% @map2 = Map.find_by_name [@map.flip_side] %>
          <%= link_to @map.flip_side, map_path(@map2) %>
        </h4>
      <% end %>
      <%= link_to "Back to maps", maps_path %>
    </div>
    <div class="col-md-5">
      <h3>Special Rules:</h3>
        <% if @map.special_rules %><%= @map.special_rules.html_safe %><% end %>
      <br />
      <h4>Scenarios played on this map: </h4>
        <% if @map_scenarios.any? %>
          <% @map_scenarios.each do |scenario| %>
            <p><%= link_to scenario.name, scenario_path(scenario) %></p>
          <% end%>
        <% end %>
    </div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
 <div class="row">
   <br /><br />
   <%= link_to 'Edit', edit_map_path(@map) %> |
   <%= link_to 'Delete', map_path(@map), method: :delete, data: {confirm: "Are you sure?"} %>
 </div>
<% end %>
