<%= render 'shared/errors', obj: @skill %>

<%= form_for(@skill, html:{class: "form-horizontal", role: "form"}) do |f| %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :name %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :skill_type %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :skill_type %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :description %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_area :description, rows: 5, cols: "30" %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :clarification %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_area :clarification, rows: 5, cols: "30" %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.submit :class => 'btn btn-primary'%>
        </div>
        <div class='col-sm-8'>
        </dvi>
      </div>
    </div>
  </div>
</div>
<% end %>
<br />
<%= link_to "Back to skills", skills_path %>
