<h1>Skills</h1>
<p>Click on a skill to read about it and see which charaters possess it</p>
<!-- <p><%= link_to "Add a Skill", new_skill_path %></p> -->

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">Attack Skills</div>
      <table class="table">
        <% @attack.sort_by {|skill| skill.name }.each do |skill| %>
        <tr>
          <td class="thumbs"><%= image_tag "skills/#{skill.name}.png" %></td><td><%= link_to skill.name, skill_path(skill) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">Movement Skills</div>
      <table class="table">
        <% @movement.sort_by {|skill| skill.name }.each do |skill| %>
        <tr>
          <td class="thumbs"><%= image_tag "skills/#{skill.name}.png" %></td><td><%= link_to skill.name, skill_path(skill) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">Miscellaneous Skills</div>
      <table class="table">
        <% @miscellaneous.sort_by {|skill| skill.name }.each do |skill| %>
        <tr>
          <td class="thumbs"><%= image_tag "skills/#{skill.name}.png" %></td><td><%= link_to skill.name, skill_path(skill) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Defense and Magic Skills</div>
      <table class="table">
        <% @defense.sort_by {|skill| skill.name }.each do |skill| %>
        <tr>
          <td class="thumbs"><%= image_tag "skills/#{skill.name}.png" %></td><td><%= link_to skill.name, skill_path(skill) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
