<div class="row">
  <div class="col-md-3">
    <div class="skills well" align="center">
      <%= image_tag "skills/#{@skill.name}.png" %><br /><br />
      <%= link_to "Back to skills", skills_path %>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <h1><%= @skill.name %></h1>
      <p><%= @skill.description %></p><br />
      <% if @skill.clarification != 'none' %>
        <h4>Clarification: </h4>
        <p><%= @skill.clarification %></p>
      <% end %>
    </div>
    <br />
    <div class="col-md-5">
      <h4>Heroes with this Skill: </h4>
      <% if @skill_heroes.any? %>
        <% @skill_heroes.each do |hero| %>
          <p><%= link_to hero.name, hero_path(hero) %></p>
        <% end%>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Tiles with this Skill: </h4>
      <% if @skill_tiles.any? %>
        <% @skill_tiles.each do |tile| %>
          <p><%= link_to tile.name, tile_path(tile) %></p>
        <% end%>
      <% end %>
    </div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
 <div class="row">
   <br /><br />
   <%= link_to 'Edit', edit_skill_path(@skill) %> |
   <%= link_to 'Delete', skill_path(@skill), method: :delete, data: {confirm: "Are you sure?"} %>
 </div>
<% end %>
