<div class="row skill-well">
  <div class="skills" align="center">
    <div  class="prevnext prevnext_skill" >
      <span class="prev"><%= link_to("<< " + @skill.previous.name, @skill.previous) if @skill.previous %></span>
      <span aligh="center"><%= link_to "Back to skills", skills_path %></span>
      <span class="next"><%= link_to(@skill.next.name + " >>", @skill.next) if @skill.next %></span>
    </div>
    <div class="col-md-3">
      <%= image_tag "skills/#{@skill.name}.png" %><br /><br />
      <%= link_to "Back to skills", skills_path %>
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="skill"><%= @skill.name %></h2>
    <p><%= @skill.description %></p><br />
    <% if @skill.clarification != 'none' %>
      <h4>Clarification: </h4>
      <p><%= @skill.clarification %></p>
    <% end %>
    <br />
    <div class="col-md-5">
      <% if @skill_heroes.any? %>
        <div class="panel panel-success">
          <div class="panel-heading">Heroes with this Skill</div>
          <table class="table">
            <% @skill_heroes.each do |hero| %>
                <tr>
                  <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                </tr>
              <% end %>
          </table>
        </div>
      <% end %>

    </div>
    <div class="col-md-5">
      <% if @skill_tiles.any? %>
        <div class="panel panel-danger">
          <div class="panel-heading">Tiles with this Skill</div>
          <table class="table">
            <% @skill_tiles.each do |tile| %>
                <tr>
                  <td class="tile" align="center"><%= link_to tile.name, tile_path(tile) %></td>
                </tr>
              <% end %>
          </table>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
 <div class="row">
   <br /><br />
   <%= link_to 'Edit', edit_skill_path(@skill) %> |
   <%= link_to 'Delete', skill_path(@skill), method: :delete, data: {confirm: "Are you sure?"} %>
 </div>
<% end %>
