<div class="row skill-well">
  <div class="skills" align="center">
    <div  class="prevnext prevnext_skill" >
      <span class="prev"><%= link_to("<< " + @story.previous.name, @story.previous) if @story.previous %></span>
      <span aligh="center"><%= link_to "Back to stories", stories_path %></span>
      <span class="next"><%= link_to(@story.next.name + " >>", @story.next) if @story.next %></span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3" class="center_all"></div>
    <div class="col-md-6" class="center_all">
      <h1><%= @story.name %></h1>
      <p><%= @story.aka %></p><br />
    </div>
    <div class="col-md-3" class="center_all"></div>
  </div>

  <div class="row">
    <div class="col-md-1" class="center_all"></div>
    <div class="col-md-10" class="center_all">
      <% if @story_models.any? %>
        <h4>Characters appearing in this Story: </h4>
        <div class="modeltile">
        <% @story_models.each do |model| %>
          <div class="model_table">
            <%= link_to model_path(model) do %>
              <table>
                <tr class="tr_first">
                  <td><%= image_tag(model.figure_image) %></td>
                </tr>
                <tr class="tr_second">
                  <td><%= model.name %></td>
                </tr>
              </table>
            <% end %>
          </div>

        <% end%>
      <% end %>
      </div>
    </div>
    <div class="col-md-1" class="center_all"></div>
  </div>

</div>
<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_story_path(@story) %> |
    <%= link_to 'Delete', story_path(@story), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
