<div class="row skill-well">
  <div class="skills" align="center">
    <div  class="prevnext prevnext_skill" >
      <span class="prev"><%= link_to("<< " + @story.previous.name, @story.previous) if @story.previous %></span>
      <span aligh="center"><%= link_to "Back to stories", stories_path %></span>
      <span class="next"><%= link_to(@story.next.name + " >>", @story.next) if @story.next %></span>
    </div>
  </div>
  <div class="col-md-9">
    <h1><%= @story.name %></h1>
    <p><%= @story.aka %></p><br />
  </div>

<div class="row">
  <div class="col-md-6">
    <% if @story_heroes.any? %>
      <h3>Heroes that appear in this Story: </h3>
      <% @story_heroes.each do |hero| %>
        <p><%= link_to hero.name, hero_path(hero) %></p>
      <% end%>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @story_tiles.any? %>
      <h3>Tile Characters that appear in this Story: </h3>
      <% @story_tiles.each do |tile| %>
        <p><%= link_to tile.name, tile_path(tile) %></p>
      <% end%>
    <% end %>
  </div>
</div>
</div>
<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_story_path(@story) %> |
    <%= link_to 'Delete', story_path(@story), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
