<%= render 'shared/errors', obj: @spell %>

<%= form_for(@spell, html:{class: "form-horizontal", role: "form"}) do |f| %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :name %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :cost %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :cost %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :limit %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :limit %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :area %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :area %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :instant %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :instant %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :description %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_area :description, rows: 5, cols: "30" %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :origin %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :origin %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :count %><br />
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :count %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.submit :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br />

<%= link_to "Back to spells", spells_path %>
