<h1>Spell Cards</h1>

<p>Click on a spell to see the card and any scenarios it appears in.</p>
<p>Spells can be sorted by:</p>
    <ul>
      <li>the box (<strong>origin</strong>) that the spell card came in</li>
      <li>the <strong>cost</strong> to cast it</li>
      <li>if it is an <strong>instant</strong>, <strong>area effect</strong>, or <strong>blank</strong> spell</li>
      <li>spell <strong>name</strong> listed with their stats</li>
    </ul>

<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-spell active">By Origin</button></a>
  <a href="" id="show_bycost" class="toggles"><button class="btn btn-spell">By Cost</button></a>
  <a href="" id="show_bytype" class="toggles"><button class="btn btn-spell">Area/Instant</button></a>
  <a href="" id="show_bystat" class="toggles"><button class="btn btn-spell">Name / Stats</button></a>
</div>
<hr>

<div id="by_origin">
  <div class="row">
      <div class="card">
        <div class="card-header" id="headingCore">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCore">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Core Game</button>
        </div>
        <div class="card-body">
          <div id="collapseCore" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @core.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingStretch">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStretch">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stretch Goal</button>
        </div>
        <div class="card-body">
          <div id="collapseStretch" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @stretch.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingKhitai">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKhitai">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai</button>
        </div>
        <div class="card-body">
          <div id="collapseKhitai" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @khitai.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingNordheim">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNordheim">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Nordheim</button>
        </div>
        <div class="card-body">
          <div id="collapseNordheim" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @nordheim.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingStygia">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStygia">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stygia</button>
        </div>
        <div class="card-body">
          <div id="collapseStygia" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @stygia.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingCampaign">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCampaign">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Campaign</button>
        </div>
        <div class="card-body">
          <div id="collapseCampaign" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @campaign.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingConqueror">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseConqueror">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Conan the Conqueror</button>
        </div>
        <div class="card-body">
          <div id="collapseConqueror" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @conqueror.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNails">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNails">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Red Nail</button>
        </div>
        <div class="card-body">
          <div id="collapseNails" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @nails.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingVersus">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseVersus">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Versus</button>
        </div>
        <div class="card-body">
          <div id="collapseVersus" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @versus.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>


<div id="by_cost">
  <div class="row">
      <div class="card">
        <div class="card-header" id="heading1">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;1</button>
        </div>
        <div class="card-body">
          <div id="collapse1" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @cost1.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;2</button>
        </div>
        <div class="card-body">
          <div id="collapse2" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @cost2.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading3">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;3</button>
        </div>
        <div class="card-body">
          <div id="collapse3" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @cost3.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading4">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;4</button>
        </div>
        <div class="card-body">
          <div id="collapse4" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @cost4.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingX">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseX">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;X</button>
        </div>
        <div class="card-body">
          <div id="collapseX" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @costx.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="by_type">
  <div class="row">
      <div class="card">
        <div class="card-header" id="headingArea">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseArea">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Area Effect</button>
        </div>
        <div class="card-body">
          <div id="collapseArea" class="collapse in">

            <table class="table">   
              <% i = 0 %>
              <% @area.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingInstant">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseInstant">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Instant</button>
        </div>
        <div class="card-body">
          <div id="collapseInstant" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @instant.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingBlank">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBlank">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Blank</button>
        </div>
        <div class="card-body">
          <div id="collapseBlank" class="collapse in">
            <table class="table">   
              <% i = 0 %>
              <% @blank.each do |spell| %>
                <% if i == 0 %>
                  <tr>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% elsif (i > 0) && (i < 5) %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  <% i += 1 %>
                <% else %>
                    <td title="<%= spell.name %>" class="spellCards"><%= link_to image_tag(spell.image), spell_path(spell) %></td>
                  </tr>
                  <% i = 0 %>
                <% end %>             
              <% end %>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="by_stat">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-6">
        <div class="panel panel-spell">
          <div class="panel-heading">Name / Stats</div>
            <table class="table stats spellstats">
              <thead>
                <tr>
                  <th>Spell Name</th>
                  <th>Cost</th>
                  <th>Limit</th>
                  <th>Instant</th>
                  <th>Area</th>
                  <th>Blank</th>
                  <th>Scenarios</th>
                  <th>Origin</th>
                </tr>
              </thead>
              <% @spells.sort_by {|spell| spell.name }.each do |spell| %>
                <tr>
                  <td class="spell"><%= link_to spell.name, spell_path(spell) %></td>
                  <td><% if spell.cost != '' %> <%= spell.cost %><% else %> - <% end %> </td>
                  <td><% if spell.limit != '' %> <%= spell.limit %><% else %> - <% end %> </td>
                  <td><% if spell.instant == 'Yes' %> &#x2714; <% else %> - <% end %></td>
                  <td><% if spell.area == 'Yes' %> &#x2714; <% else %> - <% end %></td>
                  <td><% if spell.description == 'Blank Card' %> &#x2714; <% else %> - <% end %></td>
                  <td><%= spell.scenarios.count %></td>
                  <td><%= spell.origin %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('a#show_byorigin').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_byorigin').children().addClass('active');
      $('div#by_cost').hide();
      $('div#by_type').hide();
      $('div#by_stat').hide();
      $('div#by_card').hide();
      $('div#by_origin').show();
    });

    $('a#show_bycost').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bycost').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_type').hide();
      $('div#by_stat').hide();
      $('div#by_card').hide();
      $('div#by_cost').show();
    });

    $('a#show_bytype').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bytype').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_cost').hide();
      $('div#by_stat').hide();
      $('div#by_card').hide();
      $('div#by_type').show();
    });

    $('a#show_bystat').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bystat').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_cost').hide();
      $('div#by_type').hide();
      $('div#by_card').hide();
      $('div#by_stat').show();
    });


    $('a#show_bycard').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bycard').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_cost').hide();
      $('div#by_type').hide();
      $('div#by_card').show();
    });



  });
</script>
