<h1 class="spell">Spell Cards</h1>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to "Add a Spell", new_spell_path %></p>
<% end %>

<p>Click on a spell to read more about it and any scenarios it appears in.</P>
<p>Spells can be sorted by:
    <ul>
      <li>the box <strong>(origin)</strong> that the spell card came in</li>
      <li>the <strong>cost</strong> to cast it</li>
      <li>if it is an <strong>instant</strong>, <strong>area effect</strong>, or <strong>blank</strong> spell</li>
      <li><strong>All</strong> spells listed with their stats</li>
    </ul>

<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-spell active">By Origin</button></a>
  <a href="" id="show_bycost" class="toggles"><button class="btn btn-spell">By Cost</button></a>
  <a href="" id="show_bytype" class="toggles"><button class="btn btn-spell">Area/Instant</button></a>
  <a href="" id="show_bystat" class="toggles"><button class="btn btn-spell">All / Stats</button></a>

</div>
<hr>

<div id="by_origin">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Core Game Spells</div>
        <table class="table">
          <% @core.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Stretch Goal Spells</div>
        <table class="table">
          <% @stretch.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Nordheim Spells</div>
        <table class="table">
          <% @nordheim.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Khitai Spells</div>
        <table class="table">
          <% @khitai.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Stygia Spells</div>
        <table class="table">
          <% @stygia.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Legend of the Devil in Iron Spells</div>
        <table class="table">
          <% @campaign.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_cost">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">1 Cost</div>
        <table class="table">
          <% @cost1.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-spell">
        <div class="panel-heading">4 Cost</div>
        <table class="table">
          <% @cost4.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">2 Cost</div>
        <table class="table">
          <% @cost2.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">3 Cost</div>
        <table class="table">
          <% @cost3.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="panel panel-spell">
        <div class="panel-heading">X Cost</div>
        <table class="table">
          <% @costx.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_type">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Area Effect Spells</div>
        <table class="table">
          <% @area.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Instant Spells</div>
        <table class="table">
          <% @instant.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">Blank Spells</div>
        <table class="table">
          <% @blank.sort_by {|spell| spell.name }.each do |spell| %>
            <tr>
              <td class="spell" align="center"><%= link_to spell.name, spell_path(spell) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_stat">
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-6">
      <div class="panel panel-spell">
        <div class="panel-heading">All Spells / Stats</div>
          <table class="table stats spellstats">
            <thead>
              <tr>
                <th>Spell Name</th>
                <th>Cost</th>
                <th>Limit</th>
                <th>Instant</th>
                <th>Area</th>
                <th>Blank</th>
                <th>Origin</th>
              </tr>
            </thead>
            <% @spells.sort_by {|spell| spell.name }.each do |spell| %>
              <tr>
                <td class="spell"><%= link_to spell.name, spell_path(spell) %></td>
                <td><% if spell.cost != '' %> <%= spell.cost %><% else %> - <% end %> </td>
                <td><% if spell.limit != '' %> <%= spell.limit %><% else %> - <% end %> </td>
                <td><% if spell.instant == 'Yes' %> &#x2714; <% else %> - <% end %></td>
                <td><% if spell.area == 'Yes' %> &#x2714; <% else %> - <% end %></td>
                <td><% if spell.description == 'Blank Card' %> &#x2714; <% else %> - <% end %></td>
                <td><%= spell.origin %></td>
              </tr>
          <% end %>
        </table>
      </div></div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    $('a#show_byorigin').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_byorigin').children().addClass('active');
      $('div#by_cost').hide();
      $('div#by_type').hide();
      $('div#by_stat').hide();
      $('div#by_origin').show();
    });

    $('a#show_bycost').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bycost').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_type').hide();
      $('div#by_stat').hide();
      $('div#by_cost').show();
    });

    $('a#show_bytype').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bytype').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_cost').hide();
      $('div#by_stat').hide();
      $('div#by_type').show();
    });

    $('a#show_bystat').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bystat').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_cost').hide();
      $('div#by_type').hide();
      $('div#by_stat').show();
    });

  });
</script>
