<h1>Spells</h1>

<!-- <p><%= link_to "Add a Spell", new_spell_path %></p> -->

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Core Game Spells</div>
      <table class="table">
        <% @core.sort_by {|spell| spell.name }.each do |spell| %>
          <tr>
            <td align="center"><%= link_to spell.name, spell_path(spell) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Stretch Goal Spells</div>
      <table class="table">
        <% @stretch.sort_by {|spell| spell.name }.each do |spell| %>
          <tr>
            <td align="center"><%= link_to spell.name, spell_path(spell) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Campaign Spells</div>
      <table class="table">
        <% @campaign.sort_by {|spell| spell.name }.each do |spell| %>
          <tr>
            <td align="center"><%= link_to spell.name, spell_path(spell) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Nordheim Spells</div>
      <table class="table">
        <% @nordheim.sort_by {|spell| spell.name }.each do |spell| %>
          <tr>
            <td align="center"><%= link_to spell.name, spell_path(spell) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Stygia Spells</div>
      <table class="table">
        <% @stygia.sort_by {|spell| spell.name }.each do |spell| %>
          <tr>
            <td align="center"><%= link_to spell.name, spell_path(spell) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Khitai Spells</div>
      <table class="table">
        <% @khitai.sort_by {|spell| spell.name }.each do |spell| %>
          <tr>
            <td align="center"><%= link_to spell.name, spell_path(spell) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
