<div class="row ">
  <div class="col-xs-12 col-md-12 spell-well">
    <div align="center">
      <div class="prevnext prevnext_spell" >
        <span class="prev"><%= link_to("<< " + @spell.previous.name, @spell.previous) if @spell.previous %></span>
        <span class="center-span"><%= link_to "Back to spells", spells_path %></span>
        <span class="next"><%= link_to(@spell.next.name + " >>", @spell.next) if @spell.next %></span>
      </div>

      <div class="col-md-3">
        <br />

          <div class="panel panel-spell">
            <div class="panel-heading">Scenarios that use this Spell</div>
            <table class="table">
              <% @spell_scenarios.each do |scenario| %>
                  <tr>
                    <td class="spell" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
                  </tr>
                <% end %>
            </table>
          </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div align="center" class="spell spellImage">
            <br />
            <%= image_tag "#{@spell.image}" %>
        </div>
        <br />
        from  <%= @spell.origin %>
      </div>

      <div class="col-md-3">
        <br />
        <% if @spell.correction != '' %>
            <h4>Correction / Clarification:</h4>
            <%= sanitize @spell.correction %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_spell_path(@spell) %> |
    <%= link_to 'Delete', spell_path(@spell), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
