<div class="row">
  <div class="col-md-12">
    <div>
      <h1><%= @spell.name %></h1>
      <p>Cost:  <%= @spell.cost %></p>
      <p>Limit:  <%= @spell.limit %></p>

      <p>Description:  <%= @spell.description.html_safe %></p>

      <% if @spell.area === 'Yes' %>
        <p>Area Effect</p>
      <% end %>
      <% if @spell.instant === 'Yes' %>
        <p>Instant</p>
      <% end %>
      <p>Origin:  <%= @spell.origin %></p>
      <p>Count:  <%= @spell.count %></p>
    </div>
    <br />
    <div class="col-md-7">
      <h4><%= @spell.name %> appears in: </h4>
      <% if @spell_scenarios.any? %>
        <% @spell_scenarios.each do |scenario| %>
          <p><%= link_to scenario.name, scenario_path(scenario) %></p>
        <% end%>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Back to spells", spells_path %>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_spell_path(@spell) %> |
    <%= link_to 'Delete', spell_path(@spell), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
