<h1>Items</h1>
<p>
  <%= link_to "Add an Item", new_item_path %>
</p>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Core Game Items</div>
      <table class="table">
        <% @core.sort_by {|item| item.name }.each do |item| %>
          <tr>
            <td align="center"><%= link_to item.name, item_path(item) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Stretch Goal Items</div>
      <table class="table">
        <% @stretch.sort_by {|item| item.name }.each do |item| %>
          <tr>
            <td align="center"><%= link_to item.name, item_path(item) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Campaign Items</div>
      <table class="table">
        <% @campaign.sort_by {|item| item.name }.each do |item| %>
          <tr>
            <td align="center"><%= link_to item.name, item_path(item) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Nordheim Items</div>
      <table class="table">
        <% @nordheim.sort_by {|item| item.name }.each do |item| %>
          <tr>
            <td align="center"><%= link_to item.name, item_path(item) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Stygia Items</div>
      <table class="table">
        <% @stygia.sort_by {|item| item.name }.each do |item| %>
          <tr>
            <td align="center"><%= link_to item.name, item_path(item) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">Khitai Items</div>
      <table class="table">
        <% @khitai.sort_by {|item| item.name }.each do |item| %>
          <tr>
            <td align="center"><%= link_to item.name, item_path(item) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
