<h1>Listing all items</h1>
<p>
<%= link_to 'Home', root_path %>
</p>
<p>
  <%= link_to "Create new item", new_item_path %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Show', item_path(item) %></td>
    <td><%= link_to 'Delete', items_path(item), method: :delete, data: {confirm: "Are you sure?"} %></td>

  </tr>
  <% end %>
</table>
