<h1><%= @item.name %></h1>

<p>
  Description: <%= @item.description %>
</p>

<%= link_to "Edit this item", edit_item_path(@item) %><br />
<%= link_to 'Delete', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %><br />

<%= link_to "Back to items", items_path %>
