<div class="row ">
  <div class="col-xs-12 col-md-12 item-well">
    <div align="center">
      <div class="prevnext prevnext_item">
        <span class="prev"><%= link_to("<< " + @item.previous.name, @item.previous) if @item.previous %></span>
        <span class="center-span"><%= link_to "Back to items", items_path %></span>
        <span class="next"><%= link_to(@item.next.name + " >>", @item.next) if @item.next %></span>
      </div>

      <div class="col-md-3">
        <br />
          <div class="panel panel-item-show">
            <div class="panel-heading">Scenarios that use this Item</div>
            <table class="table">
              <% @item_scenarios.each do |scenario| %>
                  <tr>
                    <td class="item" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
                  </tr>
                <% end %>
            </table>
          </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div align="center" class="item itemImage">
            <br />
            <%= image_tag "#{@item.image}" %>
            <br /><br />
            <h4>
              <%= @item.count %>  <%= pluralize_no_count(@item.count, 'card') %>
            </h4>
            from  <%= @item.origin %>
        </div>
      </div>

      <div class="col-md-3">
        <br />
        <% if @item.correction != '' %>
            <h4>Correction / Clarification:</h4>
            <%= sanitize @item.correction %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
 <div class="row">
   <br /><br />
   <%= link_to 'Edit', edit_item_path(@item) %> |
   <%= link_to 'Delete', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
 </div>
<% end %>
