<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="item"><%= @item.name %></h2>
      <h4><%= @item.role %></h4>
      <table class="tile_stats">
        <% if @item.encumbrance != '' %>
          <tr>
            <th>
              <%= image_tag "stats/encumbrance.png" %>
              <br />Encumbrance
            </th>
            <th>
              <h2><%= @item.encumbrance %></h2>
            </th>
          </tr>
        <% end%>
        <% if @item.armor != '' %>
          <tr>
            <th>
              <%= image_tag "stats/armor.png" %>
              <br />Armor
            </th>
            <td>
              <%= image_tag "dice/#{@item.armor}.png" %><br />
              <%= @item.armor %>
            </td>
          </tr>
        <% end %>
        <% if @item.melee_dice != '' %>
          <tr>
            <th>
              <%= image_tag "stats/melee.png" %>
              <br />Melee
            </th>
            <td>
              <%= image_tag "dice/#{@item.melee_dice}.png" %><br />
              <%= @item.melee_dice %>
            </td>
          </tr>
        <% end %>
        <% if @item.ranged_dice != '' %>
          <tr>
            <th>
              <%= image_tag "stats/range.png" %>
              <br />Ranged
            </th>
            <td>
              <%= image_tag "dice/#{@item.ranged_dice}.png" %><br />
              <%= @item.ranged_dice %>
            </td>
          </tr>
        <% end %>
        <% if @item.defense_dice != '' %>
          <tr>
            <th>
              <%= image_tag "stats/defense.png" %>
              <br />Defense
            </th>
            <td>
              <%= image_tag "dice/#{@item.defense_dice}.png" %><br />
              <%= @item.defense_dice %>
            </td>
          </tr>
        <% end %>
        <% if @item.manipulation_dice != '' %>
          <tr>
            <th>
              <%= image_tag "stats/manipulation.png" %>
              <br />Manipulation
            </th>
            <td>
              <%= image_tag "dice/#{@item.manipulation_dice}.png" %><br />
              <%= @item.manipulation_dice %>
            </td>
          </tr>
        <% end %>
      </table>
      <% if @item.description != '' %>
        <br /><br />
        <p><%= @item.description %></p>
      <% end%>
      <br /><br />
      <div align="center" class="tiles">

      <h4>
        <%= @item.count %>
        <%= pluralize_no_count(@item.count, 'card') %>
      </h4>
        from <%= @item.origin %>
      <br /><br /><%= link_to "Back to items", items_path %>
    </div>
  </div>
</div>

  <div class="col-md-6">
    <h4><%= @item.name %> appears in: </h4>
    <% if @item_scenarios.any? %>
      <% @item_scenarios.each do |scenario| %>
        <p><%= link_to scenario.name, scenario_path(scenario) %></p>
      <% end%>
    <% end %>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
 <div class="row">
   <br /><br />
   <%= link_to 'Edit', edit_item_path(@item) %> |
   <%= link_to 'Delete', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
 </div>
<% end %>
