<div class="row">
  <div class="col-md-12">
    <div>
      <h1><%= @item.name %></h1>
      <% if @item.encumbrance != '' %>
        <p>encumbrance:  <%= @item.encumbrance %></p>
      <% end %>
      <% if @item.armor != '' %>
        <p>Armor:  <%= @item.armor %></p>
      <% end %>
      <% if @item.melee_dice != '' %>
        <p>Melee:  <%= @item.melee_dice %></p>
      <% end %>
      <% if @item.ranged_dice != '' %>
        <p>Ranged:  <%= @item.ranged_dice %></p>
      <% end %>
      <% if @item.defense_dice != '' %>
        <p>Defense:  <%= @item.defense_dice %></p>
      <% end %>
      <% if @item.manipulation_dice != '' %>
        <p>Manipulation:  <%= @item.manipulation_dice %></p>
      <% end %>
      <p>Origin:  <%= @item.origin %></p>
      <p>Count:  <%= @item.count %></p>
    </div>
    <br />
    <div class="col-md-7">
      <h4><%= @item.name %> appears in: </h4>
      <% if @item_scenarios.any? %>
        <% @item_scenarios.each do |scenario| %>
          <p><%= link_to scenario.name, scenario_path(scenario) %></p>
        <% end%>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Back to items", items_path %>

<% if logged_in? && current_user.admin? %>
 <div class="row">
   <br /><br />
   <%= link_to 'Edit', edit_item_path(@item) %> |
   <%= link_to 'Delete', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
 </div>
<% end %>
