<h1>Scenarios</h1>

<% if @scenarios.blank? %>
  <h4>There are no scenarios containing the term <%= params[:search] %>.</h4>
<% end %>

<p>Scenarios are the basis of each game. They outline the characters, map, items and any special rules used.<br />
Below is a list of Adventure Mode scenarios that shipped with Monolith products. </p>

<p>Scenarios can be sorted by:</p>
  <ul>
    <li>the box or book (<strong>origin</strong>) the scenario came in</li>
    <li>the <strong>map</strong> the scenario is played on</li>
    <li>the number of <strong>players</strong> it plays</li>
    <li>the game play <strong>mode</strong> of the scenario</li>
    <li>all scenario <strong>names</strong> in alphabetical order</li>
  </ul>
<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-scenario active">By Origin</button></a>
  <a href="" id="show_bymap" class="toggles"><button class="btn btn-scenario">By Map</button></a>
  <a href="" id="show_bycount" class="toggles"><button class="btn btn-scenario">By Player Count</button></a>
  <a href="" id="show_bymode" class="toggles"><button class="btn btn-scenario">By Mode</button></a>
  <a href="" id="show_byname" class="toggles"><button class="btn btn-scenario">By Name</button></a>
</div>
<hr>

<div id="by_origin">
  <div class="card">
    <div class="card-header" id="headingCore">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCore">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Core Game</button>
    </div>
    <div class="card-body panel panel-info">
      <div id="collapseCore" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @core.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Core Game</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingKing">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKing">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;King Pledge</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseKing" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @king.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>King Pledge</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingStretch">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStretch">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stretch Goal</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseStretch" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @stretch.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Stretch Goal</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingNordheim">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNordheim">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Nordheim Expansion</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseNordheim" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @nordheim.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Nordheim Expansion</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingKhitai">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKhitai">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai Expansion</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseKhitai" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @khitai.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Khitai Expansion</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingStygia">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStygia">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stygia Expansion</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseStygia" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @stygia.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Stygia Expansion</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSet">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSet">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Book of Set</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseSet" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @set.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Book of Set</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingLegend">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLegend" >
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Legend of the Devil in Iron</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseLegend" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @legend.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Legend of the Devil in Iron</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSkelos">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSkelos">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Tome of Skelos</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseSkelos" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @skelos.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Tome of Skelos</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingBrotherhood">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBrotherhood">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Tales of the Red Brotherhood</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseBrotherhood" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @brotherhood.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Tales of the Red Brotherhood</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingShadow">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseShadow">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;The Shadow kingdom</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseShadow" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @shadow.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>The Shadow kingdom</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingRedNails">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRedNails">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Red Nails</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseRedNails" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @nails.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Red Nails</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingVersus">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseVersus">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Versus</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseVersus" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @versus.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Versus</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingNailsSG">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNailsSG">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Red Nails Stretch Goal</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseNailsSG" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @nailssg.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Red Nails Stretch Goal</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingWorms">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWorms">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Worms of the Earth</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseWorms" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @worms.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Worms of the Earth</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingFrazetta">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFrazetta">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Frazetta Guest Box</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseFrazetta" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
            </tr>
          </thead>
          <% @frazetta.each do |scenario| %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count  %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td>Frazetta Box</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_map">
  <div class="card">
    <div class="card-header" id="headingPict">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePict">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Pict Village</button>
    </div>
    <div class="panel panel-info">
      <div id="collapsePict" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(1)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Pict Village</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingInn">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseInn">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Inn</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseInn" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(2)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Inn</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingShips">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseShips">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Ships</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseShips" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(3)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Ships</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFort">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFort">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Abandoned Fort</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseFort" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(4)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Abandoned Fort</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingCitadel">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCitadel">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Citadel</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseCitadel" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(5)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Citadel</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSwamp">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSwamp">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Swamp</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseSwamp" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(6)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Swamp</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTower1">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTower1">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai Tower 1</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseTower1" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(7)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Khitai Tower 1</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTower2">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTower2">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai Tower 2</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseTower2" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(8)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Khitai Tower 2</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingKhitan">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKhitan">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai Village</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseKhitan" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(9)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Khitai Village</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFrozen">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFrozen">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Nordheim Mound</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseFrozen" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(10)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Nordheim Mound</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingForest">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseForest">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Nordheim Forest</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseForest" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(11)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Nordheim Forest</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTemple">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTemple">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stygia Underground</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseTemple" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(12)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Stygia Underground</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingLuxor">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLuxor">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stygia Port</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseLuxor" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(13)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Stygia Port</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTemple2">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTemple2">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Conqueror Temple</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseTemple2" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(14)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Conqueror Temple</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingCitadel2">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCitadel2">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Conqueror Citadel</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseCitadel2" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(15)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Conqueror Citadel</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingChebekDeck">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChebekDeck">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Chebek Deck</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseChebekDeck" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(16)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Tales of the Red Brotherhood</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingGalleyHold">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGalleyHold">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Galley Hold</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseGalleyHold" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(17)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Tales of the Red Brotherhood</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingGalleyDeck">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGalleyDeck">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Galley Deck</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseGalleyDeck" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(18)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Tales of the Red Brotherhood</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingCChebekHold">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChebekHold">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Chebek Hold</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseChebekHold" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(19)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Tales of the Red Brotherhood</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingJungle">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseJungle">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Jungle</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseJungle" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(20)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Red Nails</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingXuchotl">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseXuchotl">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Xuchotl</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseXuchotl" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(21)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Red Nails</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFortTuscelan">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFortTuscelan">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Fort Tuscelan</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseFortTuscelan" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(22)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Versus</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingCatacombs">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCatacombs">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Catacombs</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseCatacombs" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w20">Map</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(23)%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td>Versus</td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_count">
  <div class="card">
    <div class="card-header" id="heading2p">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2p">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;2 Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse2p" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "2"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="heading3p">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3p">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;3 Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse3p" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "3"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading34p">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse34p">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;3-4 Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse34p" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "3-4"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading4p">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4p">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;4 Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse4p" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "4"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading45p">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse45p">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;4-5 Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse45p" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "4-5"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading5p">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5p">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;5 Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse5p" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "5" && scenario.complexity != "Campaign"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading5cp">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5cp">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;5 Campaign Players</button>
    </div>
    <div class="panel panel-info">
      <div id="collapse5cp" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w20">Map</th>
              <th class="w15">Mode</th>
              <th class="w20">Origin</th>
              <th class="w10">Players</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "5" && scenario.complexity === "Campaign"%>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.mode %></td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.player_count %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_mode">
  <div class="card">
    <div class="card-header" id="headingAdventure">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAdventure">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Adventure</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseAdventure" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w20">Origin</th> 
              <th class="w15">Mode</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.mode === "Adventure" %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.mode %></td>            
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headningSolo">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSolo">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Solo/Cooperative</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseSolo" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w20">Origin</th> 
              <th class="w15">Mode</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.mode === "Solo/Cooperative" %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.mode %></td>  
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingVersus">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseVersus">
      &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Versus</button>
    </div>
    <div class="panel panel-info">
      <div id="collapseVersus" class="collapse in">
        <table class="table stats scenariostats">
          <thead>
            <tr>
              <th class="w30">Scenario</th>
              <th class="w10">Players</th>
              <th class="w20">Map</th>
              <th class="w20">Origin</th> 
              <th class="w15">Mode</th>
            </tr>
          </thead>
          <% @scenarios.each do |scenario| %>
          <% if scenario.mode === "Versus" %>
          <tr>
            <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
            <td><%= scenario.player_count %></td>
            <td>
              <% scenario.maps.each do |map| %>
              <%= map.name %>
              <br />
              <% end %>
            </td>
            <td><%= scenario.origin %></td>
            <td><%= scenario.mode %></td>  
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_name">
  <div class="card-header" id="headingName">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseName">
    &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;By Name</button>
  </div>
  <div class="panel panel-info">
    <div id="collapseName" class="collapse in">
      <table class="table stats scenariostats">
        <thead>
          <tr>
            <th class="w30">Scenario</th>
            <th class="w10">Players</th>
            <th class="w20">Map</th>
            <th class="w15">Mode</th>
            <th class="w20">Origin</th> 
          </tr>
        </thead>
        <% @scenarios.sort_by {|scenario| scenario.name }.each do |scenario| %>
        <tr>
          <td class="scenario"><%= link_to scenario.name, scenario_path(scenario) %></td>
          <td><%= scenario.player_count  %></td>
          <td>
            <% scenario.maps.each do |map| %>
            <%= map.name %>
            <br />
            <% end %>
          </td>
          <td><%= scenario.mode %></td>
          <td><%= scenario.origin %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {

    $('a#show_byorigin').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_byorigin').children().addClass('active');
      $('div#by_map').hide();
      $('div#by_count').hide();
      $('div#by_mode').hide();
      $('div#by_name').hide();
      $('div#by_origin').show();
    });

    $('a#show_bymap').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bymap').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_count').hide();
      $('div#by_mode').hide();
      $('div#by_name').hide();
      $('div#by_map').show();
    });

    $('a#show_bycount').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bycount').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_map').hide();
      $('div#by_mode').hide();
      $('div#by_name').hide();
      $('div#by_count').show();
    });

    $('a#show_bymode').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bymode').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_map').hide();
      $('div#by_count').hide();
      $('div#by_name').hide();
      $('div#by_mode').show();
    })

    $('a#show_byname').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_byname').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_map').hide();
      $('div#by_count').hide();
      $('div#by_mode').hide();
      $('div#by_name').show();
    });
  });
</script>
