<h1 class="scenario">Scenarios</h1>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to "Add a Scenario", new_scenario_path %></p>
<% end %>

<% if @scenarios.blank? %>
  <h4>There are no scenarios containing the term <%= params[:search] %>.</h4>
<% end %>

<p>Scenarios are the basis of each game. They outline the characters, map, items and any special rules used.</p>
<p>Below is a list of official <%= link_to "Monolith", "http://www.monolithedition.com/conan-en/scenarios/", :target => "_blank" %> scenarios. These can be sorted by:

  <ul>
    <li>the box or book (<strong>origin</strong>) the scenario came in</li>
    <li>the number of <strong>players</strong> it plays</li>
    <li>the <strong>complexity</strong> of the special rules used</li>
    <li>the <strong>map</strong> the scenario is played on</li>
  </ul>
<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-scenario active">By Origin</button></a>
  <a href="" id="show_bycount" class="toggles"><button class="btn btn-scenario">By Player Count</button></a>
  <a href="" id="show_bycomplexity" class="toggles"><button class="btn btn-scenario">By Complexity</button></a>
  <a href="" id="show_bymap" class="toggles"><button class="btn btn-scenario">By Map</button></a>
</div>
<hr>

<div id="by_origin">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">Core Game Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "Core Game"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">King Pledge Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "King Pledge"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Stretch Goal Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "Stretch Goal"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">Nordheim Expansion</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "Nordheim"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Khitai Expansion</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "Khitai"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Stygia Expansion</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "Stygia"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">Book of Set</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.origin === "Book of Set"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_count">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">2 Player Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "2"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">3 Player Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "3"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">4 Player Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "4"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">4-5 Player Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "4-5"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">5 Player Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.player_count === "5"%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="by_map">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">The Pict Village Map Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(1)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">The Ships Map Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(2)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">The Citadel</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(5)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">The Abandoned Fort Map Scenarios</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(3)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">The Inn Scenarios Map</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(4)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">The Swamp</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(6)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">

      <div class="panel panel-info">
        <div class="panel-heading">The Frozen Battlefield</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(7)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">The Tundra Forest</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(8)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Khitai Tower</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(11 || 12)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Khitai Village</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(13)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Stygia Temple</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(9)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Luxur Port</div>
        <table class="table">
          <% @scenarios.each do |scenario| %>
          <% if scenario.map_ids.include?(10)%>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
<div id="by_complexity">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">1 Crow</div>
        <table class="table">
          <% @scenarios.sort_by {|scenario| scenario.name }.each do |scenario| %>
          <% if scenario.complexity === "1" %>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">2 Crows</div>
        <table class="table">
          <% @scenarios.sort_by {|scenario| scenario.name }.each do |scenario| %>
          <% if scenario.complexity === "2" %>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">3 Crows</div>
        <table class="table">
          <% @scenarios.sort_by {|scenario| scenario.name }.each do |scenario| %>
          <% if scenario.complexity === "3" %>
          <tr>
            <td class="scenario" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('a#show_byorigin').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_byorigin').children().addClass('active');
      $('div#by_count').hide();
      $('div#by_complexity').hide();
      $('div#by_map').hide();
      $('div#by_origin').show();
    });

    $('a#show_bycount').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bycount').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_complexity').hide();
      $('div#by_map').hide();
      $('div#by_count').show();
    });

    $('a#show_bycomplexity').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bycomplexity').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_count').hide();
      $('div#by_map').hide();
      $('div#by_complexity').show();
    })

    $('a#show_bymap').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bymap').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_count').hide();
      $('div#by_complexity').hide();
      $('div#by_map').show();
    });

  });
</script>
