<div class="row">
  <div class="col-md-3">
    <div class="skills well" align="center">
      Map Here?
    </div>
    <div align="center">
      <%= link_to "Back to scenarios", scenarios_path %>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <h1><%= @scenario.name %></h1>
      <p><%= @scenario.description %></p><br />

    </div>
    <br />
    <div>
      <h4>Heroes' Info: </h4>
      <p><%= @scenario.hero_goal %></p><br />
      <p><%= @scenario.hero_intro.html_safe %></p><br />

    </div>
    <div>
      <h4>Overlord's: </h4>
      <p><%= @scenario.overlord_goal %></p><br />
      <p><%= @scenario.overlord_intro.html_safe %></p><br />

    </div>
    <div>
      <h4>Special Rules: </h4>
      <p><%= @scenario.ruleone %></p><br />
      <p><%= @scenario.ruletwo %></p><br />
      <p><%= @scenario.rulethree %></p><br />
      <p><%= @scenario.rulefour %></p><br />
      <p><%= @scenario.rulefive %></p><br />
      <p><%= @scenario.rulesix %></p><br />
      <p><%= @scenario.ruleseven %></p><br />
      <p><%= @scenario.ruleeight %></p><br />

    </div>
  </div>
</div>
<div class="row">
  <br /><br />
  <%= link_to 'Edit', edit_scenario_path(@scenario) %> |
  <%= link_to 'Delete', scenario_path(@scenario), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
