<div class="scenario-well">
  <div class="scenario">
    <h2 align="center"><%= @scenario.name %></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <h4 align="center">Players: <%= @scenario.player_count %>&nbsp;&nbsp;&nbsp;
                           Complexity: <%= @scenario.complexity %></h4>
        <p align="center">
          <% if @scenario.pdf_link != "" %>
            <%= link_to "Grab the PDF for this scenario from Monolith", "#{@scenario.pdf_link}", :target => "_blank" %>
          <% end %>
        </p>
        <p><%= @scenario.description.html_safe %></p>
        <br /><br />
        <div align="center">
        <%= link_to "Back to scenarios", scenarios_path %>
        </div>
      </div>
      <div class="col-md-8 scenarios" align="center">
        <%= image_tag(@scenario.map_image) %>
        <% @scenario.map_ids.each do |id| %>
          <% @map = Map.find_by_id [id] %>
          <h4 class="map"><%= link_to @map.name, map_path(@map) %></h4>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Winning the Game</h3>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Heroes</h4>
      <%= @scenario.hero_goal.html_safe %>
    </div>
    <div class="col-md-6">
      <h4>Overlord</h4>
      <%= @scenario.overlord_goal.html_safe %>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Setup</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @scenario.hero_setup != "" %>
        <h4>Heroes</h4>
      <% end %>
      <%= @scenario.hero_setup.html_safe %>
    </div>
    <div class="col-md-6">
      <% if @scenario.overlord_setup != "" %>
        <h4>Overlord</h4>
      <% end %>
      <%= @scenario.overlord_setup.html_safe %>
    </div>
  </div><br />

  <% if JSON.parse(@scenario.tile1)[0] !=0 %>
    <div class="row river-well">
      <div class="col-md-2">
          <h4>The River</h4>
      </div>
      <div class="col-md-10">
        <table class="tiletable">
          <tr class="sm_tiles">
            <% if JSON.parse(@scenario.tile1)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile1)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile2)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile2)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile3)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile3)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile4)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile4)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile5)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile5)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile6)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile6)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile7)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile7)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if JSON.parse(@scenario.tile8)[0] !=0 %>
              <% findTile = JSON.parse(@scenario.tile8)[0] %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
          </tr>

          <tr class="sm_tokens" >
            <td>
              <% if JSON.parse(@scenario.tile1)[1] %>
                <% findTile = JSON.parse(@scenario.tile1)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile1)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile2)[1] %>
                <% findTile = JSON.parse(@scenario.tile2)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile2)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile3)[1] %>
                <% findTile = JSON.parse(@scenario.tile3)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile3)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile4)[1] %>
                <% findTile = JSON.parse(@scenario.tile4)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile4)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile5)[1] %>
                <% findTile = JSON.parse(@scenario.tile5)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile5)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile6)[1] %>
                <% findTile = JSON.parse(@scenario.tile6)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile6)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile7)[1] %>
                <% findTile = JSON.parse(@scenario.tile7)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile7)[1] %>
              <% end %>
            </td>
            <td>
              <% if JSON.parse(@scenario.tile8)[1] %>
                <% findTile = JSON.parse(@scenario.tile8)[0] %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= JSON.parse(@scenario.tile8)[1] %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row scenario">
    <h3 align="center" >Special Rules</h3>
  </div>
  <div>
    <p><%= @scenario.special_rules.html_safe %></p>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_scenario_path(@scenario) %> |
    <%= link_to 'Delete', scenario_path(@scenario), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
