<div class="scenario-well">
<div class="row">
  <div class="col-md-8">
    <div class="col-md-4">
      <h4>Scenario Rating</h4>
      <div id="rating"></div>
      <p>Average rating:  <%= @scenario.average_rating %></p>
      <p>Based on <%= @scenario.ratings.count %> ratings</p>
      <br />
      <% if logged_in? %>
      <div id="user_rating"></div>
      <p>Your rating:  <%= @rating.score %></p>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Scenario Balance</h4>
      <div id="balance"></div>
      <p>Average balance:  <%= @scenario.average_balance %></p>
      <p>Based on <%= @scenario.ratings.count %> ratings</p>
      <br />
      <% if logged_in? %>
      <div id="user_balance"></div>
      <p>Your balance:  <%= @rating.balance %></p>
      <% end %>
    </div>
  </div>
</div>

<br />
<br />
  <div align="center" class="scenario">
    <div class="prevnext prevnext_scenario">
      <span class="prev"><%= link_to("<< " + @scenario.previous.name, @scenario.previous) if @scenario.previous %></span>
      <span aligh="center"><%= link_to "Back to scenarios", scenarios_path %></span>
      <span class="next"><%= link_to( @scenario.next.name + " >>", @scenario.next) if @scenario.next %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <br />
        <h4 align="center">Players: <%= @scenario.player_count %>&nbsp;&nbsp;&nbsp;
                           Complexity: <%= @scenario.complexity %></h4>
        <p align="center">
          <% if @scenario.pdf_link != "" %>
            <%= link_to "Grab the PDF for this scenario from Monolith", "#{@scenario.pdf_link}", :target => "_blank" %>
          <% end %>
        </p>
        <p><%= @scenario.description.html_safe %></p>
        <br />
      </div>
      <div class="col-md-8 scenarios" align="center">
        <h1 align="center"><%= @scenario.name %></h1>

        <%= image_tag(@scenario.map_image) %>
        <% @scenario.map_ids.each do |id| %>
          <% @map = Map.find_by_id [id] %>
          <h4 class="map"><%= link_to @map.name, map_path(@map) %></h4>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Winning the Game</h3>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Heroes</h4>
      <%= @scenario.hero_goal.html_safe %>
    </div>
    <div class="col-md-6">
      <h4>Overlord</h4>
      <%= @scenario.overlord_goal.html_safe %>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Setup</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @scenario.hero_setup != "" %>
        <h4>Heroes</h4>
      <% end %>
      <%= @scenario.hero_setup.html_safe %>
    </div>
    <div class="col-md-6">
      <% if @scenario.overlord_setup != "" %>
        <h4>Overlord</h4>
      <% end %>
      <%= @scenario.overlord_setup.html_safe %>
    </div>
  </div><br />

  <% if @scenario.tile1 !=0 %>
    <div class="row river-well">
      <div class="col-md-2">
          <h4>The River</h4>
      </div>
      <div class="col-md-10">
        <table class="tiletable">
          <tr class="sm_tiles">
            <% if @scenario.tile1 !=0 %>
              <% findTile = @scenario.tile1 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile2 !=0 %>
              <% findTile = @scenario.tile2 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile3 !=0 %>
              <% findTile = @scenario.tile3 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile4 !=0 %>
              <% findTile = @scenario.tile4 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile5 !=0 %>
              <% findTile = @scenario.tile5 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile6 !=0 %>
              <% findTile = @scenario.tile6 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile7 !=0 %>
              <% findTile = @scenario.tile7 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile8 !=0 %>
              <% findTile = @scenario.tile8 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
          </tr>

          <tr class="sm_tokens" >
            <td>
              <% if @scenario.life1 !=0 %>
                <% findTile = @scenario.tile1 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life1 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life2 !=0 %>
                <% findTile = @scenario.tile2 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life2 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life3 !=0 %>
                <% findTile = @scenario.tile3 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life3 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life4 !=0 %>
                <% findTile = @scenario.tile4 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life4 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life5 !=0 %>
                <% findTile = @scenario.tile5 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life5 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life6 !=0 %>
                <% findTile = @scenario.tile6 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life6 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life7 !=0 %>
                <% findTile = @scenario.tile7 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life7 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life8 !=0 %>
                <% findTile = @scenario.tile8 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life8 %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row scenario">
    <h3 align="center" >Special Rules</h3>
  </div>
  <div>
    <p><%= @scenario.special_rules.html_safe %></p>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_scenario_path(@scenario) %> |
    <%= link_to 'Delete', scenario_path(@scenario), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>

<script>
  $('#rating').raty({
    readOnly: true,
    score: <%= @scenario.average_rating %>,
    path: '/assets'
  });

  $('#user_rating').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });

  $('#balance').raty({
    readOnly: true,
    single: true,
    iconRange: [
      { range: 1, on: 'bal1.png' },
      { range: 2, on: 'bal2.png' },
      { range: 3, on: 'bal3.png' },
      { range: 4, on: 'bal4.png' },
      { range: 5, on: 'bal5.png' }
    ],
    score: <%= @scenario.average_balance %>,
    path: '/assets'
  });

  $('#user_balance').raty({
    score: <%= @rating.balance %>,
    path: '/assets',
    single: true,
    iconRange: [
      { range: 1, on: 'bal1.png' },
      { range: 2, on: 'bal2.png' },
      { range: 3, on: 'bal3.png' },
      { range: 4, on: 'bal4.png' },
      { range: 5, on: 'bal5.png' }
    ],
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { balance: score }
      });
    }
  });
</script>
