<div class="scenario-well">
  <div align="center" class="scenario">
    <div class="prevnext prevnext_scenario">
      <span class="prev"><%= link_to("<< " + @scenario.previous.name, @scenario.previous) if @scenario.previous %></span>
      <span aligh="center"><%= link_to "Back to scenarios", scenarios_path %></span>
      <span class="next"><%= link_to( @scenario.next.name + " >>", @scenario.next) if @scenario.next %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <br />
        <h4 align="center"><%= @scenario.player_count %>&nbsp;Players&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <%= @scenario.complexity %>
                           <%= pluralize_no_count(@scenario.complexity, 'Crow') %></h4>
        <p align="center">
          <% if @scenario.pdf_link != "" %>
            <%= link_to "Grab the PDF for this scenario from Monolith", "#{@scenario.pdf_link}", :target => "_blank" %>
          <% end %>
        </p>
        <p><%= @scenario.description.html_safe %></p>
        <br />

      </div>
      <div class="col-md-8 scenarios" align="center">
        <h1 align="center"><%= @scenario.name %></h1>
        <%= image_tag(@scenario.map_image) %>
        <% @scenario.map_ids.each do |id| %>
          <% @map = Map.find_by_id [id] %>
          <h4 class="map"><%= link_to @map.name, map_path(@map) %></h4>
        <% end %>
      </div>

    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Uses content from:
      <% @scenario.product_ids.each do |id| %>
        <% @product = Product.find_by_id [id] %>
        <span class="map">
          &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to @product.name, product_path(@product) %>
        </span>
    <% end %>
  </div>
  <div class="row scenario">
    <h3 align="center" >Winning the Game</h3>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Heroes</h4>
      <%= @scenario.hero_goal.html_safe %>
    </div>
    <div class="col-md-6">
      <h4>Overlord</h4>
      <%= @scenario.overlord_goal.html_safe %>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Setup</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @scenario.hero_setup != "" %>
        <h4>Heroes</h4>
      <% end %>
      <%= @scenario.hero_setup.html_safe %>
    </div>
    <div class="col-md-6">
      <% if @scenario.overlord_setup != "" %>
        <h4>Overlord</h4>
      <% end %>
      <%= @scenario.overlord_setup.html_safe %>
    </div>
  </div><br />

  <% if @scenario.tile1 !=0 %>
    <div class="row river-well">
      <div class="col-md-2">
          <h4>The River</h4>
      </div>
      <div class="col-md-10">
        <table class="tiletable">
          <tr class="sm_tiles">
            <% if @scenario.tile1 !=0 %>
              <% findTile = @scenario.tile1 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile2 !=0 %>
              <% findTile = @scenario.tile2 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile3 !=0 %>
              <% findTile = @scenario.tile3 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile4 !=0 %>
              <% findTile = @scenario.tile4 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile5 !=0 %>
              <% findTile = @scenario.tile5 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile6 !=0 %>
              <% findTile = @scenario.tile6 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile7 !=0 %>
              <% findTile = @scenario.tile7 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile8 !=0 %>
              <% findTile = @scenario.tile8 %>
              <% tile = Tile.find_by_id [findTile] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
          </tr>

          <tr class="sm_tokens" >
            <td>
              <% if @scenario.life1 !=0 %>
                <% findTile = @scenario.tile1 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life1 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life2 !=0 %>
                <% findTile = @scenario.tile2 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life2 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life3 !=0 %>
                <% findTile = @scenario.tile3 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life3 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life4 !=0 %>
                <% findTile = @scenario.tile4 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life4 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life5 !=0 %>
                <% findTile = @scenario.tile5 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life5 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life6 !=0 %>
                <% findTile = @scenario.tile6 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life6 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life7 !=0 %>
                <% findTile = @scenario.tile7 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life7 %>
              <% end %>
            </td>
            <td>
              <% if @scenario.life8 !=0 %>
                <% findTile = @scenario.tile8 %>
                <% tile = Tile.find_by_id [findTile] %>
                <%= image_tag(tile.token_image)%><br /><%= @scenario.life8 %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row scenario">
    <h3 align="center" >Special Rules</h3>
  </div>
  <div>
    <p><%= @scenario.special_rules.html_safe %></p>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_scenario_path(@scenario) %> |
    <%= link_to 'Delete', scenario_path(@scenario), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>

<script>
  $('#rating').raty({
    readOnly: true,
    round: { down: .49, up: .5 },
    score: <%= @scenario.average_rating %>,
    path: '/assets'
  });

  $('#user_rating').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });

  $('#balance').raty({
    readOnly: true,
    single: true,
    iconRange: [
          {range: 1, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 2, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 3, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 4, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 5, on: 'misc/marker', off: 'misc/marker-off'}
      ],
    hints: ['favors Heroes', 'lightly favors', 'balanced', 'lightly favors', 'favors OL'],
    score: <%= @scenario.average_balance %>,
    path: '/assets'
  });

  $('#user_balance').raty({
    score: <%= @rating.balance %>,
    path: '/assets',
    single: true,
    iconRange: [
          {range: 1, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 2, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 3, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 4, on: 'misc/marker', off: 'misc/marker-off'},
          {range: 5, on: 'misc/marker', off: 'misc/marker-off'}
      ],
    hints: ['favors Heroes', 'lightly favors', 'balanced', 'lightly favors', 'favors OL'],
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { balance: score }
      });
    }
  });

  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>
