<div class="scenario-well">
  <div class="scenario">
    <h2 align="center"><%= @scenario.name %></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <h4 align="center">Players: <%= @scenario.player_count %>&nbsp;&nbsp;&nbsp;
                           Complexity: <%= @scenario.complexity %></h4>
        <p align="center">
          <% if @scenario.pdf_link != "" %>
            <%= link_to "Grab the PDF for this scenario from Monolith", "#{@scenario.pdf_link}", :target => "_blank" %>
          <% end %>
        </p>
        <p><%= @scenario.description.html_safe %></p>
        <br /><br />
        <div align="center">
        <%= link_to "Back to scenarios", scenarios_path %>
        </div>
      </div>
      <div class="col-md-8 scenarios" align="center">
        <%= image_tag(@scenario.map_image) %>
        <% @scenario.map_ids.each do |id| %>
          <% @map = Map.find_by_id [id] %>
          <h4 class="map"><%= link_to @map.name, map_path(@map) %></h4>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Winning the Game</h3>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Heroes</h4>
      <%= @scenario.hero_goal.html_safe %>
    </div>
    <div class="col-md-6">
      <h4>Overlord</h4>
      <%= @scenario.overlord_goal.html_safe %>
    </div>
  </div>

  <div class="row scenario">
    <h3 align="center" >Setup</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @scenario.hero_setup != "" %>
        <h4>Heroes</h4>
      <% end %>
      <%= @scenario.hero_setup.html_safe %>
    </div>
    <div class="col-md-6">
      <% if @scenario.overlord_setup != "" %>
        <h4>Overlord</h4>
      <% end %>
      <%= @scenario.overlord_setup.html_safe %>
    </div>
  </div><br />

  <% if @scenario.tile1 != 0 %>
    <div class="row river-well">
      <div class="col-md-2">
          <h4>The River</h4>
      </div>
      <div class="col-md-10">
        <table class="tiletable">
          <tr class="sm_tiles">
            <% if @scenario.tile1 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile1] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile2 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile2] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile3 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile3] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile4 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile4] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile5 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile5] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile6 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile6] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile7 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile7] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
            <% if @scenario.tile8 != 0 %>
              <% tile = Tile.find_by_id [@scenario.tile8] %>
              <td><%= link_to image_tag("#{tile.tile_image}"), tile_path(tile), :title => "#{tile.name}" %></td>
            <% end %>
          </tr>

          <tr class="sm_tokens" >
            <td>
              <% if @scenario.t1life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile1] %>
                <%= @scenario.t1life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t2life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile2] %>
                <%= @scenario.t2life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t3life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile3] %>
                <%= @scenario.t3life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t4life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile4] %>
                <%= @scenario.t4life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t5life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile5] %>
                <%= @scenario.t5life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t6life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile6] %>
                <%= @scenario.t6life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t7life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile7] %>
                <%= @scenario.t7life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
            <td>
              <% if @scenario.t8life != '' %>
                <% tile = Tile.find_by_id [@scenario.tile8] %>
                <%= @scenario.t8life %>  <%= image_tag(tile.token_image)%>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row scenario">
    <h3 align="center" >Special Rules</h3>
  </div>
  <% if@scenario.ruleone_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruleone_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruleone_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwo_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwo_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwo_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulethree_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulethree_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulethree_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulefour_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulefour_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulefour_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulefive_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulefive_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulefive_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulesix_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulesix_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulesix_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruleseven_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruleseven_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruleseven_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruleeight_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruleeight_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruleeight_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulenine_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulenine_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulenine_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruleten_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruleten_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruleten_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruleeleven_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruleeleven_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruleeleven_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwelve_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwelve_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwelve_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulethirteen_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulethirteen_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulethirteen_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulefourteen_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulefourteen_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulefourteen_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulefifteen_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulefifteen_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulefifteen_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulesixteen_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulesixteen_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulesixteen_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruleseventeen_title %>
  <div class="row">
    <div align="right" class="col-xs-2 col-md-2">
      <strong><%= @scenario.ruleseventeen_title.html_safe %></strong>
    </div>
    <div class="col-xs-10 col-md-10">
      <p><%= @scenario.ruleseventeen_text.html_safe %></p>
    </div>
  </div>
  <% end %>
  <% if@scenario.ruleeighteen_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruleeighteen_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruleeighteen_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.rulenineteen_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.rulenineteen_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.rulenineteen_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwenty_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwenty_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwenty_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwentyone_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwentyone_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwentyone_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwentytwo_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwentytwo_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwentytwo_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwentythree_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwentythree_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwentythree_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwentyfour_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwentyfour_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwentyfour_text.html_safe %></p>
      </div>
    </div>
  <% end %>
  <% if@scenario.ruletwentyfive_title %>
    <div class="row">
      <div align="right" class="col-xs-2 col-md-2">
        <strong><%= @scenario.ruletwentyfive_title.html_safe %></strong>
      </div>
      <div class="col-xs-10 col-md-10">
        <p><%= @scenario.ruletwentyfive_text.html_safe %></p>
      </div>
    </div>
  <% end %>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_scenario_path(@scenario) %> |
    <%= link_to 'Delete', scenario_path(@scenario), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
