<div class="row">
  <div class="col-md-3">
    <div class="skills well" align="center">
      Map Here?
    </div>
    <div align="center">
      <%= link_to "Back to scenarios", scenarios_path %>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <h1><%= @scenario.name %></h1>
      <p><%= @scenario.description %></p><br />

    </div>
    <div>
      <h3>Winning the Game:</h3>
      <h4>Heroes</h4>
      <p><%= @scenario.hero_goal %></p><br />
      <h4>Overlord</h4>
      <p><%= @scenario.overlord_goal %></p><br />
    </div>
    <div>
      <h3>Setup</h3>

      <h4>Heroes</h4>
      <p><%= @scenario.hero_intro.html_safe %></p><br />

    </div>
    <div>
      <h4>Overlord</h4>
      <p><%= @scenario.overlord_intro.html_safe %></p><br />
      <h4>Tiles</h4>
      <p>
        <% @scenario.tile_ids.each do |id| %>
          <%@id = id %>
          <% @tile = Tile.find_by_id [@id] %>
          <a href="/tiles/<%= id %>">
            <%= image_tag "#{@tile.image}" %>
          </a>
        <% end %>
      </p>
      <br /><br />
    </div>
    <div>
      <h4>Special Rules: </h4>
      <p><% if@scenario.ruleone %><%= @scenario.ruleone.html_safe %><% end %></p><br />
      <p><% if@scenario.ruletwo %><%= @scenario.ruletwo.html_safe %><% end %></p><br />
      <p><% if@scenario.rulethree %><%= @scenario.rulethree.html_safe %><% end %></p><br />
      <p><% if@scenario.rulefour %><%= @scenario.rulefour.html_safe %><% end %></p><br />
      <p><% if@scenario.rulefive %><%= @scenario.rulefive.html_safe %><% end %></p><br />
      <p><% if@scenario.rulesix %><%= @scenario.rulesix.html_safe %><% end %></p><br />
      <p><% if@scenario.ruleseven %><%= @scenario.ruleseven.html_safe %><% end %></p><br />
      <p><% if@scenario.ruleeight %><%= @scenario.ruleeight.html_safe %><% end %></p><br />

    </div>
  </div>
</div>
<div class="row">
  <br /><br />
  <%= link_to 'Edit', edit_scenario_path(@scenario) %> |
  <%= link_to 'Delete', scenario_path(@scenario), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
