<h1>Hero Sheets</h1>

<p>Click on a hero to see their stats and any scenarios they appear in.</p>
<p>Heroes can be sorted by:</p>
    <ul>
      <li>the box (<strong>origin</strong>) the sheet came in</li>
      <li>hero <strong>name</strong> with their stats</li>
    </ul>
<div align="center">
  <a href="" id="show_byorigin" class="toggles"><button class="btn btn-hero active">By Origin</button></a>
  <a href="" id="show_bystat" class="toggles"><button class="btn btn-hero">Name / Stats</button></a>
</div>
<hr>
<div id="by_origin">
  <div class="row">
    <div class="col-md-4 col-sm-4">

      <div class="card">
        <div class="card-header" id="headingCore">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCore">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Core Game</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseCore" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @core.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingKing">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKing">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;King Pledge</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseKing" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @king.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

     <div class="card">
        <div class="card-header" id="headingStretch">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStretch">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stretch Goal</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseStretch" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @stretch.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFrazetta">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFrazetta">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Frazetta Guest Box</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseFrazetta" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @frazetta.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-4">

      <div class="card">
        <div class="card-header" id="headingKhitai">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKhitai">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Khitai</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseKhitai" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @khitai.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingNordheim">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNordheim">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Nordheim</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseNordheim" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @nordheim.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingStygia">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStygia">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Stygia</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseStygia" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @stygia.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingConqueror">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseConqueror">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Conan the Conqueror</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseConqueror" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @conqueror.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingRedNails">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRedNails">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Red Nails</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseRedNails" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @nails.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-4">

      <div class="card">
        <div class="card-header" id="headingBrom">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBrom">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Brom Box</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseBrom" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @brom.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingPaolo">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePaolo">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Paolo Parente Box</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapsePaolo" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @paolo.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingXavier">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseXavier">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Xavier Collette Box</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseXavier" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @xavier.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingValkyrie">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseValkyrie">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Vanir Valkyrie</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseValkyrie" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @valkyrie.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingYogah">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseYogah">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Yogah of Yag</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseYogah" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @yogah.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingShadow">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseShadow">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;The Shadow Kingdom</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseShadow" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @shadow.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingWorms">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWorms">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Worms of the Earth</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseWorms" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @worms.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingVersus">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseVersus">
          &#x25BC;&nbsp;&#x25B2;&nbsp;&nbsp;Versus</button>
        </div>
        <div class="card-body panel panel-success">
          <div id="collapseVersus" class="collapse in">
            <table class="table stats herostats">
              <thead>
                <tr>
                  <th class="w60">Hero</th>
                  <th class="w40">Scenarios</th>
                </tr>
              </thead>
              <% @versus.each do |hero| %>
              <tr>
                <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
                <td><%= hero.scenarios.count  %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="by_stat">
  <div class="panel panel-success">
    <div class="panel-heading">Name / Stats</div>
    <table class="table stats herostats">
      <thead>
        <tr>
          <th>Name</th>
          <th>Melee (e)</th>
          <th>Ranged (e)</th>
          <th>Defense</th>
          <th>Move (e)</th>
          <th>Manipu (e)</th>
          <th>Life</th>
          <th>Encumb</th>
          <th>Skills</th>
        </tr>
      </thead>
      <% @heroes.sort_by {|hero| hero.name }.each do |hero| %>
        <tr>
          <td class="hero"><%= link_to hero.name, hero_path(hero) %></td>
          <td class="stats"><%= image_tag "dice/#{hero.melee_dice}.png", :title => hero.melee_dice %> &nbsp;&nbsp;<%= hero.melee_exertion %></td>
          <td class="stats"><%= image_tag "dice/#{hero.ranged_dice}.png", :title => hero.ranged_dice %> &nbsp;&nbsp;<%= hero.ranged_exertion %></td>
          <td class="stats"><%= image_tag "dice/#{hero.defense_dice}.png", :title => hero.defense_dice %></td>
          <td><%= hero.movement_free %> &nbsp;(<%= hero.movement_exertion %>)</td>
          <td class="stats"><%= image_tag "dice/#{hero.manipulation_dice}.png", :title => hero.manipulation_dice %> &nbsp;&nbsp;<%= hero.manipulation_exersion %></td>
          <td><%= hero.life %></td>
          <td><%= hero.encumbrance[0] %></td>
          <td class="stats"><% if hero.skills.any? %>
            <% hero.skills.each do |skill| %>
              <%= link_to image_tag("skills/#{skill.name}.png", :title => "#{skill.name}"), skill_path(skill) %>
              <% end%>
            <% end%>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <p>(e) = Exertion Limit</p>
</div>

<script>
  $(document).ready(function() {
    $('a#show_byorigin').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_byorigin').children().addClass('active');
      $('div#by_stat').hide();
      $('div#by_origin').show();
    });

    $('a#show_bystat').click(function(event){
      event.preventDefault();
      $('a.toggles').children().removeClass('active');
      $('a#show_bystat').children().addClass('active');
      $('div#by_origin').hide();
      $('div#by_stat').show();
    });
  });

</script>
