<h1 class="hero">Heroes</h1>
<% if logged_in? && current_user.admin? %>
<p><%= link_to "Add a Hero", new_hero_path %></p>
<% end %>

<p>Click on a hero to see their stats and any scenarios they appear in.</p>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">Core Game Heroes</div>
      <table class="table">
        <% @core.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Stretch Goal Heroes</div>
      <table class="table">
        <% @stretch.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">King Pledge Heroes</div>
      <table class="table">
        <% @king.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Vanir Valkyrie</div>
      <table class="table">
        <% @valkyrie.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Yogah of Yag</div>
      <table class="table">
        <% @yogah.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Xavier Collette Box</div>
      <table class="table">
        <% @xavier.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Brom Box</div>
      <table class="table">
        <% @brom.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Paolo Parente Box</div>
      <table class="table">
        <% @paolo.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Expansion Heroes</div>
      <table class="table">
        <% @nordheim.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %> </td>
        </tr>
        <% end %>
        <% @khitai.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
        <% @stygia.each do |hero| %>
        <tr>
          <td class="hero" align="center"><%= link_to hero.name, hero_path(hero) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">

  </div>
</div>
