<div class="row hero-well">
  <div align="center">
    <div class="prevnext prevnext_hero" >
      <span class="prev"><%= link_to("<< Previous Hero", @hero.previous) if @hero.previous %></span>
      <span aligh="center"><%= link_to "Back to heros", heroes_path %></span>
      <span class="next"><%= link_to("Next Hero >>", @hero.next) if @hero.next %></span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <h2 class="hero" align="center"><%= @hero.name %></h2>
      <h4 align="center"><%= @hero.description %></h4>
      <div align="center" class="heroes">
        <%= image_tag "#{@hero.hero_image}" %><br /><br />
      </div>
        <p><%= @hero.quote %></p>
        <p><%= @hero.cite %></p>
      <div align="center">
        <% if @hero_scenarios.any? %>
          <h4>Appears in:</h4>
          <% @hero_scenarios.each do |scenario| %>
            <p><%= link_to scenario.name, scenario_path(scenario) %></p>
          <% end%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <br />
    <table class="table table-bordered hero_stats">
      <tr class="warning">
        <th>
          <%= image_tag "stats/movement.png" %>
          <br />Movement
        </th>
        <th>
          <%= image_tag "stats/melee.png" %>
          <br />Melee
        </th>
        <th>
          <%= image_tag "stats/range.png" %>
          <br />Range
        </th>
        <th>
          <%= image_tag "stats/manipulation.png" %>
          <br />Manipulation
        </th>
      </tr>
      <tr class="active">
        <td><h3><%= @hero.movement_free %></h3>Free</td>
        <td>
          <%= image_tag "dice/#{@hero.melee_dice}.png" %><br />
          <%= @hero.melee_dice %> die
        </td>
        <td>
          <%= image_tag "dice/#{@hero.ranged_dice}.png" %><br />
          <%= @hero.ranged_dice %> die
        </td>
        <td>
          <%= image_tag "dice/#{@hero.manipulation_dice}.png" %><br />
          <%= @hero.manipulation_dice %> die
        </td>
      </tr>
      <tr class="active">
        <td>Exertion Limit: <h4><%= @hero.movement_exertion %></h4></td>
        <td>Exertion Limit: <h4><%= @hero.melee_exertion %></h4></td>
        <td>Exertion Limit: <h4><%= @hero.ranged_exertion %></h4></td>
        <td>Exertion Limit: <h4><%= @hero.manipulation_exersion %></h4></td>
      </tr>
    </table>
    <table class="table table-bordered hero_stats">
      <tr class="warning">
        <th>
          <%= image_tag "stats/defense.png" %>
          <br />Defense
        </th>
        <th>
          <%= image_tag "stats/life.png" %>
          <br />Life
        </th>
        <th>
          <%= image_tag "stats/encumbrance.png" %>
          <br />Encumbrance
        </th>
        <th>
          <%= image_tag "stats/move_encum1.png" %>
          <br />Move -1
        </th>
        <th>
          <%= image_tag "stats/move_encum2.png" %>
          <br />Move -2
        </th>
      </tr>
      <tr class="active">
        <td>
          <%= image_tag "dice/#{@hero.defense_dice}.png" %><br />
          <%= @hero.defense_dice %> die
        </td>
        <td><h3><%= @hero.life %></h3></td>
        <td><h3><%= @hero.encumbrance[0] %></h3></td>
        <td>Lost at: <h4><%= @hero.encumbrance[1] %></h4></td>
        <td>Lost at: <h4><%= @hero.encumbrance[2] %></h4></td>
      </tr>
    </table>
    <% if @hero.skills.any? %>
      <table class="table table-bordered hero_stats">
        <tr class="warning">
          <% @hero.skills.each do |skill| %>
            <td class="thumbs">
              <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
              <br /><%= link_to skill.name, skill_path(skill) %>
            </td>
          <% end%>
        </tr>
        <tr class="active">
          <% @hero.skills.each_with_index do |skill, index| %>
            <td>
              <% if @hero.encumbrance[index+3] %>
                Lost at: <h4><%= @hero.encumbrance[index+3] %></h4>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <% if @hero_scenarios.any? %>
      <h4>Scenarios:</h4>
      <% @hero_scenarios.each do |scenario| %>
        <p><%= link_to scenario.name, scenario_path(scenario) %></p>
      <% end%>
    <% end %>
  </div>
  <div class="col-md-4">
    <br /><br />
    <% if @hero.stories.any? %>
      <h4>Stories:</h4>
      <% @hero.stories.each do |story| %>
        <p><%= link_to story.name, story_path(story) %></p>
      <% end%>
    <% end %>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <br /><br />
    <%= link_to 'Edit', edit_hero_path(@hero) %> |
    <%= link_to 'Delete', hero_path(@hero), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
