<div class="row">
  <div class="col-md-4">
    <div class="well">
      <div class="skills">
        <%= image_tag "heroes/#{@hero.name}.png" %><br /><br />
      </div>
      <p><%= @hero.quote %></p>
      <p><%= @hero.cite %></p>
    </div>
    <div align="center">
      <%= link_to "Back to heroes", heroes_path %>
    </div>
  </div>
  <div class="col-md-8">
    <h1><%= @hero.name %></h1>
    <p><%= @hero.description %></p>
    <% if @hero.stories.any? %>
      <p>Appears in:
        <% @hero.stories.each do |story| %>
          <%= link_to story.name, story_path(story) %>
        <% end%>
      </p>
    <% end %>
    <h4>Player Sheet Stats: </h4>
    <table class="hero_stats">
      <tr>
        <th>
          <%= image_tag "stats/life.png" %>
          <br />Life
        </th>
        <th>
          <%= image_tag "stats/melee.png" %>
          <br />Melee
        </th>
        <th>
          <%= image_tag "stats/range.png" %>
          <br />Range
        </th>
        <th>
          <%= image_tag "stats/defense.png" %>
          <br />Defense
        </th>
      </tr>
      <tr>
        <td><%= @hero.life %></td>
        <td>
          <%= image_tag "dice/#{@hero.melee_dice}.png" %><br />
          <%= @hero.melee_dice %> die
        </td>
        <td>
          <%= image_tag "dice/#{@hero.ranged_dice}.png" %><br />
          <%= @hero.ranged_dice %> die
        </td>
        <td>
          <%= image_tag "dice/#{@hero.defense_dice}.png" %><br />
          <%= @hero.defense_dice %> die
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Exertion: <%= @hero.melee_exertion %></td>
        <td>Exertion: <%= @hero.ranged_exertion %></td>
        <td></td>
      </tr>
      <tr>
        <th>
          <%= image_tag "stats/encumbrance.png" %>
          <br />Encumbrance
        </th>
        <th>
          <%= image_tag "stats/movement.png" %>
          <br />Movement
        </th>
        <th>
          <%= image_tag "stats/manipulation.png" %>
          <br />Manipulation
        </th>

      </tr>
      <tr>
        <td><%= @hero.encumberance %></td>
        <td>Free: <%= @hero.movement_free %></td>
        <td>
          <%= image_tag "dice/#{@hero.manipulation_dice}.png" %><br />
          <%= @hero.manipulation_dice %> die
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Exertion: <%= @hero.movement_exertion %></td>
        <td>Exertion: <%= @hero.manipulation_exersion %></td>
        <td></td>
      </tr>
      <% if @hero.skills.any? %>
      <tr>
        <% @hero.skills.each do |skill| %>
          <td class="thumbs">
            <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
            <br /><%= link_to skill.name, skill_path(skill) %>
          </td>
        <% end%>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <br /><br />
  <%= link_to 'Edit', edit_hero_path(@hero) %> |
  <%= link_to 'Delete', hero_path(@hero), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
