<div class="row">
  <div class="col-md-4">
    <div class="skills">
      <%= image_tag "skills/#{@hero.name}.png" %><br /><br />
    </div>
    <div class="well">
      <p><%= @hero.quote %></p>
      <p><%= @hero.cite %></p>
    </div>
    <div align="center">
      <%= link_to "Back to heroes", heroes_path %>
    </div>
  </div>
  <div class="col-md-8">
    <h1><%= @hero.name %></h1>
    <p><%= @hero.description %></p>
    <% if @hero.stories.any? %>
      <p>Appears in:
        <% @hero.stories.each do |story| %>
          <%= link_to story.name, story_path(story) %>
        <% end%>
      </p>
    <% end %>
    <h4>Player Sheet Stats: </h4>
    <table class="hero_stats">
      <tr>
        <th>Melee</th>
        <th>Range</th>
        <th>Movement</th>
        <th>Manipulation</th>
      </tr>
      <tr>
        <td><%= @hero.melee_dice %> die</td>
        <td><%= @hero.range_dice %> die</td>
        <td>Free: <%= @hero.movement_free %></td>
        <td><%= @hero.manipulation_dice %> die</td>
      </tr>
      <tr>
        <td>Exertion: <%= @hero.melee_exertion %></td>
        <td>Exertion: <%= @hero.range_exertion %></td>
        <td>Exertion: <%= @hero.movement_exertion %></td>
        <td>Exertion: <%= @hero.manipulation_exersion %></td>
      </tr>
      <tr>
        <th>Defense</th>
        <th>Life</th>
        <th>Encumberance</th>
      </tr>
      <tr>
        <td><%= @hero.defense_dice %> die</td>
        <td><%= @hero.life %></td>
        <td><%= @hero.encumberance %></td>
      </tr>

    </table>


    <% if @hero.skills.any? %>
      <h4>Skills: </h4>
      <% @hero.skills.each do |skill| %>
        <p class="thumbs"><%= image_tag "skills/#{skill.name}.png" %>
          &nbsp;&nbsp;<%= link_to skill.name, skill_path(skill) %>
        </p>
      <% end%>
    <% end %>
  </div>
</div>
<div class="row">
  <br /><br />
  <%= link_to 'Edit', edit_hero_path(@hero) %> |
  <%= link_to 'Delete', hero_path(@hero), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
