<div class="row ">
  <div class="col-xs-12 col-md-12 hero-well">
    <div align="center">
      <div class="prevnext prevnext_hero" >
        <span class="prev"><%= link_to("<< " + @hero.previous.name, @hero.previous) if @hero.previous %></span>
        <span class="center-span"><%= link_to "Back to heroes", heroes_path %></span>
        <span class="next"><%= link_to(@hero.next.name + " >>", @hero.next) if @hero.next %></span>
      </div>

      <div class="col-md-3">
        <div align="center" class="heroes">
          <p><%= @hero.quote %></p>
          <p><%= @hero.cite %></p>
          <br />
          <div class="panel panel-hero">
            <div class="panel-heading">Scenarios that use this Hero</div>
            <table class="table">
              <% @hero_scenarios.each do |scenario| %>
                  <tr>
                    <td class="hero" align="center"><%= link_to scenario.name, scenario_path(scenario) %></td>
                  </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div align="center">
          <h2 class="hero" align="center"><%= @hero.name %></h2>
          <%= image_tag "#{@hero.hero_sheet}" %><br /><br />
          from  <%= @hero.origin %>
        </div>

        <br />
        <table>
          <% if @hero.skills.any? %>
            <tr>
              <td><h4>Skills:</h4></td>
            <% @hero.skills.each do |skill| %>
                <td class="thumbs">
                  <%= link_to image_tag("skills/#{skill.name}.png"), skill_path(skill) %>
                  <br /><%= link_to skill.name, skill_path(skill) %>
                </td>
            <% end%>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

