<h1>Products</h1>

<p>2015 / First Kickstarter</p>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Core Boxes</div>
      <table class="table">
        <% @core2015.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Expansions</div>
      <table class="table">
        <% @expansions2015.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Books</div>
      <table class="table">
        <% @books2015.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Add-ons</div>
      <table class="table">
        <% @addons2015.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<hr>
<p>2017</p>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Books</div>
      <table class="table">
        <% @books2017.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<hr>
<p>2020 / Conqueror</p>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Expansions</div>
      <table class="table">
        <% @expansions2020.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Books</div>
      <table class="table">
        <% @books2020.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Add-ons</div>
      <table class="table">
        <% @addons2020.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


<hr>
<p>2024 / Red Nails</p>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Expansions</div>
      <table class="table">
        <% @expansions2024.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Add-ons</div>
      <table class="table">
        <% @addons2024.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
