<h1 class="product">Products</h1>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to "Add a Product", new_product_path %></p>
<% end %>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <p>First Kickstart Content / 2015</p>

    <div class="panel panel-primary">
      <div class="panel-heading">Core Boxes</div>
      <table class="table">
        <% @core.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Expansions</div>
      <table class="table">
        <% @expansions.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Add-ons</div>
      <table class="table">
        <% @addons.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <p>Second Kickstart Content / 2020</p>

    <div class="panel panel-primary">
      <div class="panel-heading">Expansions</div>
      <table class="table">
        <tr>
          <td class="product"><%= link_to @expansions2.name, product_path(@expansions2) %></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Add-ons</div>
      <table class="table">
        <% @addons2.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <p>Other Products</p>
    <div class="panel panel-primary">
      <div class="panel-heading">Tomes</div>
      <table class="table">
        <% @tomes.each do |product| %>
        <tr>
          <td class="product"><%= link_to product.name, product_path(product) %></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>



</div>
